n8n/SHARED_SAVE_TRANSACTION_v2.json
{
  "name": "🔧 SHARED_SAVE_TRANSACTION_v2 (Supabase)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"business_id\": \"uuid-here\", \"order_id\": \"CUST_260606_001\", \"business_name\": \"مطعم السدة\", \"plan_id\": \"business\"}, \"customer\": {\"id\": \"201234567890\", \"name\": \"محمد أحمد\", \"phone\": \"201234567890\"}, \"conversation_id\": \"CONV_20260613_12345\", \"order_type\": \"delivery\", \"items\": [{\"name\": \"برجر دبل\", \"qty\": 2, \"price\": 89}, {\"name\": \"بطاطس كبير\", \"qty\": 1, \"price\": 35}], \"total_egp\": 213, \"delivery_address\": \"شارع الهرم، الجيزة\", \"payment_method\": \"كاش عند الاستلام\", \"notes\": \"بدون بصل من فضلك\", \"status\": \"pending\"}"
      },
      "id": "txn-trigger-001",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE transaction/order data\n// ============================================================\nconst input = $input.first().json;\nconst tenant = input.tenant;\n\nif (!tenant || !tenant.business_id) throw new Error('Missing tenant.business_id');\nif (!input.customer) throw new Error('Missing customer data');\n\nconst now = new Date();\nconst dateStr = now.toISOString().slice(0,10).replace(/-/g,'');\nconst timeStr = now.toISOString().slice(11,16).replace(':','');\nconst orderNumber = input.order_number || `ORD-${dateStr}-${timeStr}-${Math.floor(Math.random() * 900) + 100}`;\n\n// Calculate total if not provided\nlet totalEgp = parseFloat(input.total_egp || 0);\nif (!totalEgp && Array.isArray(input.items)) {\n  totalEgp = input.items.reduce((sum, item) => sum + (parseFloat(item.price || 0) * parseInt(item.qty || 1)), 0);\n}\n\nreturn {\n  json: {\n    business_id:      tenant.business_id,\n    order_id:         tenant.order_id || '',\n    order_number:     orderNumber,\n    conversation_id:  input.conversation_id || null,\n    customer_id:      input.customer.id || input.customer.phone || 'UNKNOWN',\n    customer_name:    input.customer.name || '',\n    customer_phone:   input.customer.phone || input.customer.id || '',\n    order_type:       input.order_type || 'general',\n    items:            JSON.stringify(input.items || []),\n    total_egp:        totalEgp,\n    delivery_address: input.delivery_address || '',\n    payment_method:   input.payment_method || '',\n    notes:            input.notes || '',\n    status:           input.status || 'pending',\n    created_at:       now.toISOString()\n  }\n};"
      },
      "id": "txn-prepare-001",
      "name": "TRANSACTION_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, conversation_id: $json.conversation_id, order_number: $json.order_number, customer_id: $json.customer_id, customer_name: $json.customer_name, customer_phone: $json.customer_phone, order_type: $json.order_type, items: JSON.parse($json.items), total_egp: $json.total_egp, delivery_address: $json.delivery_address, payment_method: $json.payment_method, notes: $json.notes, status: $json.status, created_at: $json.created_at }) }}",
        "options": {}
      },
      "id": "http-insert-order-001",
      "name": "INSERT_ORDER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $('TRANSACTION_PREPARE').item.json.business_id, phone: $('TRANSACTION_PREPARE').item.json.customer_phone, name: $('TRANSACTION_PREPARE').item.json.customer_name, last_order_at: $('TRANSACTION_PREPARE').item.json.created_at }) }}",
        "options": {}
      },
      "id": "http-upsert-customer-001",
      "name": "UPSERT_CUSTOMER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const insertedOrder = $('INSERT_ORDER').first().json;\nconst orderArr = Array.isArray(insertedOrder) ? insertedOrder : [insertedOrder];\nconst order = orderArr[0] || {};\n\nreturn {\n  json: {\n    success: true,\n    order_id:     order.id || null,\n    order_number: $('TRANSACTION_PREPARE').first().json.order_number,\n    total_egp:    $('TRANSACTION_PREPARE').first().json.total_egp,\n    status:       $('TRANSACTION_PREPARE').first().json.status,\n    message:      `تم حفظ الطلب رقم ${$('TRANSACTION_PREPARE').first().json.order_number} بنجاح ✅`\n  }\n};"
      },
      "id": "txn-return-001",
      "name": "RETURN_SUCCESS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [[{ "node": "TRANSACTION_PREPARE", "type": "main", "index": 0 }]]
    },
    "TRANSACTION_PREPARE": {
      "main": [[{ "node": "INSERT_ORDER", "type": "main", "index": 0 }]]
    },
    "INSERT_ORDER": {
      "main": [[{ "node": "UPSERT_CUSTOMER", "type": "main", "index": 0 }]]
    },
    "UPSERT_CUSTOMER": {
      "main": [[{ "node": "RETURN_SUCCESS", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "tags": [{ "name": "shared" }, { "name": "v2" }, { "name": "supabase" }],
  "meta": {
    "description": "Inserts orders into Supabase orders table. Upserts customer record. Replaces Google Sheets APPEND transaction rows. Input: tenant object with business_id + customer + items array."
  }
}
