n8n/SHARED_CALCULATE_COST_FIXED.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "CALCULATE_COST_LOGIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALCULATE_COST_LOGIC": {
      "main": [
        [
          {
            "node": "LOOKUP_QUOTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOOKUP_QUOTA": {
      "main": [
        [
          {
            "node": "CHECK_QUOTA_LOGIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK_QUOTA_LOGIC": {
      "main": [
        [
          {
            "node": "IS_NEW_RECORD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IS_NEW_RECORD?": {
      "main": [
        [
          {
            "node": "CREATE_QUOTA_RECORD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UPDATE_QUOTA_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_QUOTA_RECORD": {
      "main": [
        [
          {
            "node": "RETURN_QUOTA_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_QUOTA_RECORD": {
      "main": [
        [
          {
            "node": "RETURN_QUOTA_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-08T12:15:38.508Z",
  "id": "1sx8sTJOiuwPeI62",
  "isArchived": false,
  "meta": null,
  "name": "🔧 SHARED_CALCULATE_COST",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"business_name\": \"مطعم السدة\", \"order_id\": \"CUST_260606_001\", \"plan_id\": \"business\"}, \"customer_id\": \"CUST_END_260606_001\", \"customer_name\": \"محمد\", \"customer_phone\": \"201234567890\", \"model\": \"anthropic/claude-sonnet-4.5\", \"input_tokens\": 1200, \"output_tokens\": 350, \"operation_type\": \"chat\"}"
      },
      "id": "4112b22f-9c1b-4ce9-b69c-94830a187763",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Calculate cost & check message limits against Airtable\n// ============================================================\nconst input = $input.first().json;\n\nif (!input.customer_id || !input.tenant) {\n  throw new Error('Missing customer_id or tenant');\n}\n\n// Model pricing (USD per 1M tokens) — convert to EGP\nconst USD_TO_EGP = 49;\nconst pricing = {\n  'anthropic/claude-haiku-4.5':    { input: 1.00,  output: 5.00 },\n  'anthropic/claude-sonnet-4.5':   { input: 3.00,  output: 15.00 },\n  'anthropic/claude-opus-4.7':     { input: 15.00, output: 75.00 },\n  'openai/gpt-4o':                 { input: 2.50,  output: 10.00 },\n  'openai/gpt-4o-mini':            { input: 0.15,  output: 0.60 },\n  'google/gemini-2.0-flash':       { input: 0.10,  output: 0.40 }\n};\n\nconst model = input.model || 'anthropic/claude-sonnet-4.5';\nconst inputTokens = parseInt(input.input_tokens || 0);\nconst outputTokens = parseInt(input.output_tokens || 0);\n\nconst modelPricing = pricing[model] || pricing['anthropic/claude-sonnet-4.5'];\nconst costUsd = ((inputTokens * modelPricing.input) + (outputTokens * modelPricing.output)) / 1_000_000;\nconst costEgp = +(costUsd * USD_TO_EGP).toFixed(4);\n\n// Plan-based message limits\nconst planLimits = {\n  starter:    5000,\n  business:   11000,\n  enterprise: 20000\n};\n\nconst tenantPlan = (input.tenant.plan_tier || input.tenant.plan_id || 'starter').toLowerCase();\nconst messagesLimit = planLimits[tenantPlan] || planLimits.starter;\n\nreturn {\n  json: {\n    tenant_business_name: input.tenant.business_name,\n    tenant_order_id: input.tenant.order_id,\n    customer_id: input.customer_id,\n    customer_name: input.customer_name || '',\n    customer_phone: input.customer_phone || '',\n    plan_id: tenantPlan,\n    messages_limit: messagesLimit,\n    model: model,\n    input_tokens: inputTokens,\n    output_tokens: outputTokens,\n    cost_usd: +costUsd.toFixed(6),\n    cost_egp: costEgp,\n    operation_type: input.operation_type || 'chat',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "f147be95-b498-45b9-a100-33b8677ca5e9",
      "name": "CALCULATE_COST_LOGIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        96
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appnddxmQJLD7XrRH",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Customer_Quota",
          "mode": "list"
        },
        "filterByFormula": "=AND({customer_id} = '{{ $json.customer_id }}', {bot_order_id} = '{{ $json.tenant_order_id }}')",
        "options": {}
      },
      "id": "fe4ab3f5-1aeb-4adf-9447-c0e8120d69f6",
      "name": "LOOKUP_QUOTA",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -672,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "5hzrl6rXFId10zl0",
          "name": "ai workforce"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Check if customer exists in quota table, calculate remaining\n// ============================================================\nconst existing = $input.all();\nconst calc = $('CALCULATE_COST_LOGIC').first().json;\n\nif (existing.length > 0 && existing[0].json && existing[0].json.id) {\n  // Existing record\n  const record = existing[0].json;\n  const fields = record.fields || {};\n  const currentMessages = parseInt(fields.messages_used || 0);\n  const currentCost = parseFloat(fields.total_cost_egp || 0);\n  \n  const newMessageCount = currentMessages + 1;\n  const newCost = +(currentCost + calc.cost_egp).toFixed(4);\n  const remaining = calc.messages_limit - newMessageCount;\n  const limitExceeded = newMessageCount > calc.messages_limit;\n  \n  return {\n    json: {\n      ...calc,\n      airtable_record_id: record.id,\n      is_new_quota_record: false,\n      messages_used: newMessageCount,\n      total_cost_egp: newCost,\n      messages_remaining: Math.max(0, remaining),\n      limit_exceeded: limitExceeded,\n      action: limitExceeded ? 'block' : 'allow'\n    }\n  };\n} else {\n  // New customer — create record\n  return {\n    json: {\n      ...calc,\n      airtable_record_id: '',\n      is_new_quota_record: true,\n      messages_used: 1,\n      total_cost_egp: calc.cost_egp,\n      messages_remaining: calc.messages_limit - 1,\n      limit_exceeded: false,\n      action: 'allow'\n    }\n  };\n}"
      },
      "id": "e67a20ca-594f-400b-8d85-323a7813f7f4",
      "name": "CHECK_QUOTA_LOGIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1c349fa-12b2-4744-b232-482eddb94c99",
              "leftValue": "={{ $json.is_new_quota_record }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa9e4219-4969-4cfa-91ab-f7786d4f3c62",
      "name": "IS_NEW_RECORD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appnddxmQJLD7XrRH",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Customer_Quota",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "bot_order_id": "={{ $json.tenant_order_id }}",
            "business_name": "={{ $json.tenant_business_name }}",
            "customer_name": "={{ $json.customer_name }}",
            "customer_phone": "={{ $json.customer_phone }}",
            "plan_id": "={{ $json.plan_id }}",
            "messages_limit": "={{ $json.messages_limit }}",
            "messages_used": 1,
            "total_cost_egp": "={{ $json.cost_egp }}",
            "first_message_at": "={{ $now }}",
            "last_message_at": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "33ad493a-2d6f-458a-bc0b-d94b48924de5",
      "name": "CREATE_QUOTA_RECORD",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "5hzrl6rXFId10zl0",
          "name": "ai workforce"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appnddxmQJLD7XrRH",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Customer_Quota",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "messages_used": "={{ $json.messages_used }}",
            "total_cost_egp": "={{ $json.total_cost_egp }}",
            "last_message_at": "={{ $now }}",
            "limit_exceeded": "={{ $json.limit_exceeded }}"
          }
        },
        "options": {}
      },
      "id": "a788dda8-490f-4aca-9948-0acaa7393620",
      "name": "UPDATE_QUOTA_RECORD",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "5hzrl6rXFId10zl0",
          "name": "ai workforce"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn {\n  json: {\n    success: true,\n    customer_id: input.customer_id,\n    cost_egp: input.cost_egp,\n    messages_used: input.messages_used,\n    messages_remaining: input.messages_remaining,\n    limit_exceeded: input.limit_exceeded,\n    action: input.action,\n    message: input.limit_exceeded \n      ? `وصلت للحد الأقصى من الرسائل (${input.messages_limit}). تواصل مع ${input.tenant_business_name} للاستفسار.`\n      : 'تم تحديث الـ quota بنجاح'\n  }\n};"
      },
      "id": "969fad3e-d9b0-4a06-98aa-a3467d06d4f3",
      "name": "RETURN_QUOTA_RESULT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-08T12:15:38.508Z",
      "createdAt": "2026-06-08T12:15:38.508Z",
      "role": "workflow:owner",
      "workflowId": "1sx8sTJOiuwPeI62",
      "projectId": "AMCsil8RzcKs4p4h"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-08T12:15:38.508Z",
  "versionId": "8347f65f-12d8-4623-b060-f072fa940cdd"
}