n8n/SHARED_ESCALATION_v2.json
{
  "name": "🔧 SHARED_ESCALATION_v2 (Supabase)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"business_id\": \"uuid-here\", \"order_id\": \"CUST_260606_001\", \"business_name\": \"مطعم السدة\", \"instance_name\": \"arq-cust-260606-001\", \"admin_whatsapp\": \"201029168056\"}, \"customer\": {\"id\": \"CUST_001\", \"name\": \"محمد\", \"phone\": \"201234567890\"}, \"reason\": \"complaint\", \"customer_message\": \"الأكل كان بارد\", \"context_summary\": \"العميل طلب 3 مرات قبل كده، الـ Sentiment Score = -2\", \"conversation_id\": \"CONV_20260613_12345\"}"
      },
      "id": "esc-trigger-001",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-448, 96]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE escalation data\n// ============================================================\nconst input = $input.first().json;\nconst tenant = input.tenant;\n\nif (!tenant || !tenant.business_id) throw new Error('Missing tenant.business_id');\nif (!tenant.admin_whatsapp) throw new Error('Missing tenant.admin_whatsapp');\n\nconst reason = input.reason || 'customer_request';\nconst customerMsg = input.customer_message || '';\nconst contextSummary = input.context_summary || '';\n\nconst reasonLabels = {\n  customer_request:  'طلب العميل التحدث مع موظف',\n  complaint:         'شكوى من العميل',\n  out_of_scope:      'استفسار خارج نطاق البوت',\n  negative_sentiment:'حالة عاطفية سلبية',\n  technical_issue:   'مشكلة تقنية',\n  vip_priority:      'عميل VIP',\n  payment_issue:     'مشكلة في الدفع',\n  order_issue:       'مشكلة في الطلب'\n};\n\nconst reasonText = reasonLabels[reason] || reason;\nconst now = new Date();\nconst dateStr = now.toISOString().slice(0,10).replace(/-/g,'');\nconst escalationId = `ESC_${dateStr}_${Math.floor(Math.random() * 90000) + 10000}`;\n\nconst adminAlert = `🚨 *تنبيه تصعيد — ${tenant.business_name}*\\n\\n🆔 رقم التصعيد: ${escalationId}\\n👤 العميل: ${input.customer?.name || 'غير محدد'}\\n📞 الرقم: ${input.customer?.phone || 'غير محدد'}\\n\\n💬 آخر رسالة:\\n${customerMsg.slice(0, 250)}\\n\\n📌 السبب: ${reasonText}\\n\\n${contextSummary ? '📋 سياق:\\n' + contextSummary : ''}\\n\\n🕐 ${now.toISOString().slice(0,19).replace('T',' ')}\\n\\n⚠️ تواصل مع العميل في أسرع وقت.`;\n\nconst customerReply = `لحظة من فضلك يا فندم 🙏\\nهحوّلك دلوقتي لزميل من فريق *${tenant.business_name}* يساعدك بشكل أفضل.\\nهيتواصل معاك في أقرب وقت ✨`;\n\nreturn {\n  json: {\n    business_id:      tenant.business_id,\n    order_id:         tenant.order_id || '',\n    instance_name:    tenant.instance_name || '',\n    admin_whatsapp:   tenant.admin_whatsapp,\n    escalation_id:    escalationId,\n    conversation_id:  input.conversation_id || '',\n    customer:         input.customer || {},\n    reason:           reason,\n    reason_text:      reasonText,\n    customer_message: customerMsg,\n    context_summary:  contextSummary,\n    admin_alert:      adminAlert,\n    customer_reply:   customerReply,\n    timestamp:        now.toISOString()\n  }\n};"
      },
      "id": "esc-prepare-001",
      "name": "ESCALATION_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-208, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.mis.rooyai.com/message/sendText/{{ $json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "={{ $env.EVOLUTION_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.admin_whatsapp, options: { delay: 1200 }, textMessage: { text: $json.admin_alert } }) }}",
        "options": {}
      },
      "id": "http-alert-admin-001",
      "name": "ALERT_ADMIN_WHATSAPP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [32, -48]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/escalations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $('ESCALATION_PREPARE').item.json.business_id, conversation_id: $('ESCALATION_PREPARE').item.json.conversation_id || null, escalation_id: $('ESCALATION_PREPARE').item.json.escalation_id, customer_id: $('ESCALATION_PREPARE').item.json.customer?.id || $('ESCALATION_PREPARE').item.json.customer?.phone, customer_name: $('ESCALATION_PREPARE').item.json.customer?.name || '', customer_phone: $('ESCALATION_PREPARE').item.json.customer?.phone || '', reason: $('ESCALATION_PREPARE').item.json.reason, reason_text: $('ESCALATION_PREPARE').item.json.reason_text, customer_message: $('ESCALATION_PREPARE').item.json.customer_message, context_summary: $('ESCALATION_PREPARE').item.json.context_summary, status: 'open', created_at: $('ESCALATION_PREPARE').item.json.timestamp }) }}",
        "options": {}
      },
      "id": "http-log-escalation-001",
      "name": "LOG_ESCALATION",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [32, 240]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/conversations?id=eq.{{ $('ESCALATION_PREPARE').item.json.conversation_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'escalated' }) }}",
        "options": {}
      },
      "id": "http-mark-convo-escalated-001",
      "name": "MARK_CONVERSATION_ESCALATED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [272, 96]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    escalation_id:  $('ESCALATION_PREPARE').first().json.escalation_id,\n    customer_reply: $('ESCALATION_PREPARE').first().json.customer_reply,\n    reason:         $('ESCALATION_PREPARE').first().json.reason\n  }\n};"
      },
      "id": "esc-return-001",
      "name": "RETURN_SUCCESS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 96]
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [[{ "node": "ESCALATION_PREPARE", "type": "main", "index": 0 }]]
    },
    "ESCALATION_PREPARE": {
      "main": [
        [
          { "node": "ALERT_ADMIN_WHATSAPP",       "type": "main", "index": 0 },
          { "node": "LOG_ESCALATION",              "type": "main", "index": 0 }
        ]
      ]
    },
    "ALERT_ADMIN_WHATSAPP": {
      "main": [[{ "node": "MARK_CONVERSATION_ESCALATED", "type": "main", "index": 0 }]]
    },
    "LOG_ESCALATION": {
      "main": [[{ "node": "MARK_CONVERSATION_ESCALATED", "type": "main", "index": 0 }]]
    },
    "MARK_CONVERSATION_ESCALATED": {
      "main": [[{ "node": "RETURN_SUCCESS", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "tags": [{ "name": "shared" }, { "name": "v2" }, { "name": "supabase" }],
  "meta": {
    "description": "Inserts into Supabase escalations table, sends WhatsApp alert to admin via Evolution API, marks conversation as escalated. Replaces Google Sheets LOG_ESCALATION node."
  }
}
