n8n/SHARED_CALCULATE_COST_v2.json
{
  "name": "🔧 SHARED_CALCULATE_COST_v2 (Supabase)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"business_id\": \"uuid-here\", \"order_id\": \"CUST_260606_001\", \"business_name\": \"مطعم السدة\", \"plan_id\": \"business\"}, \"customer_id\": \"201234567890\", \"customer_name\": \"محمد\", \"customer_phone\": \"201234567890\", \"model\": \"anthropic/claude-sonnet-4.5\", \"input_tokens\": 1200, \"output_tokens\": 350, \"operation_type\": \"chat\"}"
      },
      "id": "cost-trigger-001",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1120, 96]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Calculate cost & check message limits\n// ============================================================\nconst input = $input.first().json;\n\nif (!input.customer_id || !input.tenant) {\n  throw new Error('Missing customer_id or tenant');\n}\nif (!input.tenant.business_id) {\n  throw new Error('Missing tenant.business_id');\n}\n\n// Model pricing (USD per 1M tokens)\nconst USD_TO_EGP = 49;\nconst pricing = {\n  'anthropic/claude-haiku-4.5':  { input: 1.00,  output: 5.00 },\n  'anthropic/claude-sonnet-4.5': { input: 3.00,  output: 15.00 },\n  'anthropic/claude-opus-4.7':   { input: 15.00, output: 75.00 },\n  'openai/gpt-4o':               { input: 2.50,  output: 10.00 },\n  'openai/gpt-4o-mini':          { input: 0.15,  output: 0.60 },\n  'openai/whisper-1':            { input: 0.006, output: 0.00 },\n  'google/gemini-2.0-flash':     { input: 0.10,  output: 0.40 }\n};\n\nconst model = input.model || 'anthropic/claude-sonnet-4.5';\nconst inputTokens  = parseInt(input.input_tokens  || 0);\nconst outputTokens = parseInt(input.output_tokens || 0);\n\nconst modelPricing = pricing[model] || pricing['anthropic/claude-sonnet-4.5'];\nconst costUsd = ((inputTokens * modelPricing.input) + (outputTokens * modelPricing.output)) / 1_000_000;\nconst costEgp = +(costUsd * USD_TO_EGP).toFixed(4);\n\n// Plan-based message limits\nconst planLimits = {\n  starter:    5000,\n  business:   11000,\n  enterprise: 20000\n};\n\nconst tenantPlan = (input.tenant.plan_id || input.tenant.plan_tier || 'starter').toLowerCase();\nconst messagesLimit = planLimits[tenantPlan] || planLimits.starter;\n\nreturn {\n  json: {\n    business_id:      input.tenant.business_id,\n    tenant_order_id:  input.tenant.order_id || '',\n    business_name:    input.tenant.business_name || '',\n    customer_id:      input.customer_id,\n    customer_name:    input.customer_name || '',\n    customer_phone:   input.customer_phone || input.customer_id || '',\n    plan_id:          tenantPlan,\n    messages_limit:   messagesLimit,\n    model:            model,\n    input_tokens:     inputTokens,\n    output_tokens:    outputTokens,\n    cost_usd:         +costUsd.toFixed(6),\n    cost_egp:         costEgp,\n    operation_type:   input.operation_type || 'chat',\n    timestamp:        new Date().toISOString()\n  }\n};"
      },
      "id": "cost-calculate-001",
      "name": "CALCULATE_COST_LOGIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, 96]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/usage_counters?business_id=eq.{{ $json.business_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "http-lookup-quota-001",
      "name": "LOOKUP_QUOTA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-640, 96]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Check quota from Supabase usage_counters\n// ============================================================\nconst quotaRows = $input.first().json;\nconst calc = $('CALCULATE_COST_LOGIC').first().json;\n\n// quotaRows is an array from Supabase REST\nconst rows = Array.isArray(quotaRows) ? quotaRows : [];\nconst record = rows[0] || null;\n\nif (record) {\n  const currentMessages = parseInt(record.messages_sent || 0);\n  const currentCost     = parseFloat(record.cost_egp_total || 0);\n  const newMessageCount = currentMessages + 1;\n  const newCost         = +(currentCost + calc.cost_egp).toFixed(4);\n  const remaining       = calc.messages_limit - newMessageCount;\n  const limitExceeded   = newMessageCount > calc.messages_limit;\n\n  return {\n    json: {\n      ...calc,\n      quota_record_id:  record.id,\n      is_new_quota_record: false,\n      messages_used:    newMessageCount,\n      total_cost_egp:   newCost,\n      messages_remaining: Math.max(0, remaining),\n      limit_exceeded:   limitExceeded,\n      action: limitExceeded ? 'fallback_model' : 'allow'\n    }\n  };\n} else {\n  // No record yet — first message from this business\n  return {\n    json: {\n      ...calc,\n      quota_record_id:  null,\n      is_new_quota_record: true,\n      messages_used:    1,\n      total_cost_egp:   calc.cost_egp,\n      messages_remaining: calc.messages_limit - 1,\n      limit_exceeded:   false,\n      action: 'allow'\n    }\n  };\n}"
      },
      "id": "cost-check-quota-001",
      "name": "CHECK_QUOTA_LOGIC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 96]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "is-new-check",
              "leftValue":  "={{ $json.is_new_quota_record }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cost-is-new-001",
      "name": "IS_NEW_RECORD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-160, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/usage_counters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, messages_sent: 1, tokens_in: $json.input_tokens, tokens_out: $json.output_tokens, cost_egp_total: $json.cost_egp, period_start: new Date().toISOString().slice(0,7) + '-01', last_message_at: $json.timestamp }) }}",
        "options": {}
      },
      "id": "http-create-quota-001",
      "name": "CREATE_QUOTA_RECORD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://zjathejcdkpxjyvululp.supabase.co' }}/rest/v1/rpc/increment_usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_business_id: $json.business_id, p_messages_delta: 1, p_tokens_in_delta: $json.input_tokens, p_tokens_out_delta: $json.output_tokens, p_cost_egp_delta: $json.cost_egp }) }}",
        "options": {}
      },
      "id": "http-increment-usage-cost-001",
      "name": "UPDATE_QUOTA_RECORD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 192]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst calcData = $('CHECK_QUOTA_LOGIC').first().json;\nreturn {\n  json: {\n    success: true,\n    business_id:        calcData.business_id,\n    customer_id:        calcData.customer_id,\n    cost_usd:           calcData.cost_usd,\n    cost_egp:           calcData.cost_egp,\n    messages_used:      calcData.messages_used,\n    messages_remaining: calcData.messages_remaining,\n    limit_exceeded:     calcData.limit_exceeded,\n    action:             calcData.action,\n    model_used:         calcData.model,\n    message: calcData.limit_exceeded\n      ? `وصلت للحد الأقصى من الرسائل (${calcData.messages_limit}). سيتم تخفيض النموذج مؤقتاً.`\n      : 'تم تحديث الكوتا بنجاح'\n  }\n};"
      },
      "id": "cost-return-001",
      "name": "RETURN_QUOTA_RESULT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 96]
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [[{ "node": "CALCULATE_COST_LOGIC", "type": "main", "index": 0 }]]
    },
    "CALCULATE_COST_LOGIC": {
      "main": [[{ "node": "LOOKUP_QUOTA", "type": "main", "index": 0 }]]
    },
    "LOOKUP_QUOTA": {
      "main": [[{ "node": "CHECK_QUOTA_LOGIC", "type": "main", "index": 0 }]]
    },
    "CHECK_QUOTA_LOGIC": {
      "main": [[{ "node": "IS_NEW_RECORD?", "type": "main", "index": 0 }]]
    },
    "IS_NEW_RECORD?": {
      "main": [
        [{ "node": "CREATE_QUOTA_RECORD", "type": "main", "index": 0 }],
        [{ "node": "UPDATE_QUOTA_RECORD", "type": "main", "index": 0 }]
      ]
    },
    "CREATE_QUOTA_RECORD": {
      "main": [[{ "node": "RETURN_QUOTA_RESULT", "type": "main", "index": 0 }]]
    },
    "UPDATE_QUOTA_RECORD": {
      "main": [[{ "node": "RETURN_QUOTA_RESULT", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo"
  },
  "staticData": null,
  "tags": [{ "name": "shared" }, { "name": "v2" }, { "name": "supabase" }],
  "meta": {
    "description": "Calculates AI cost (Haiku $1/$5, Sonnet $3/$15 per 1M tokens, ×49 EGP). Reads quota from Supabase usage_counters, calls increment_usage RPC. Replaces Airtable Customer_Quota table.",
    "pricing": {
      "haiku_input_per_1m_usd": 1.00,
      "haiku_output_per_1m_usd": 5.00,
      "sonnet_input_per_1m_usd": 3.00,
      "sonnet_output_per_1m_usd": 15.00,
      "usd_to_egp": 49
    }
  }
}
