n8n/🔧 SHARED_AUTO_TAG_CUSTOMER.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "AUTO_TAG_PREPARE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AUTO_TAG_PREPARE": {
      "main": [
        [
          {
            "node": "FETCH_CUSTOMER",
            "type": "main",
            "index": 0
          },
          {
            "node": "FETCH_HISTORY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_CUSTOMER": {
      "main": [
        [
          {
            "node": "ANALYZE_TAGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_HISTORY": {
      "main": [
        [
          {
            "node": "ANALYZE_TAGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALYZE_TAGS": {
      "main": [
        [
          {
            "node": "SAVE_TAGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE_TAGS": {
      "main": [
        [
          {
            "node": "RETURN_TAGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-08T12:16:42.317Z",
  "id": "7YUp4Nalz4kgSZ1F",
  "isArchived": false,
  "meta": null,
  "name": "🔧 SHARED_AUTO_TAG_CUSTOMER",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"sheets_id\": \"1xxx...\", \"sheet_customers\": \"Customers\", \"sheet_conv_history\": \"Conversation_History\"}, \"customer_id\": \"CUST_260606_001\", \"history_limit\": 30}"
      },
      "id": "da1b2396-2033-4b34-ba8a-5fcf33b17838",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (!input.tenant) throw new Error('Missing tenant');\nif (!input.customer_id) throw new Error('Missing customer_id');\n\nreturn {\n  json: {\n    tenant: input.tenant,\n    customer_id: input.customer_id,\n    history_limit: input.history_limit || 30\n  }\n};"
      },
      "id": "42486d42-3d34-4f5d-8dcc-5cadf5d26696",
      "name": "AUTO_TAG_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.tenant.sheets_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.tenant.sheet_customers }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Customer ID",
              "lookupValue": "={{ $json.customer_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "d9a35161-1f60-46e2-9b5c-119d8902a5d3",
      "name": "FETCH_CUSTOMER",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jn4jQ7q52Yubhgwt",
          "name": "Google Sheets account new Email"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('AUTO_TAG_PREPARE').item.json.tenant.sheets_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('AUTO_TAG_PREPARE').item.json.tenant.sheet_conv_history }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Customer ID",
              "lookupValue": "={{ $('AUTO_TAG_PREPARE').item.json.customer_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0deff88-d344-46ee-a75e-0f83c7bce35a",
      "name": "FETCH_HISTORY",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jn4jQ7q52Yubhgwt",
          "name": "Google Sheets account new Email"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Analyze customer history and assign tags based on patterns\n// ============================================================\nconst ctx = $('AUTO_TAG_PREPARE').first().json;\nconst history = $('FETCH_HISTORY').all().map(i => i.json);\nconst customer = $('FETCH_CUSTOMER').first().json;\n\nconst tags = [];\n\n// Total orders\nconst totalOrders = parseInt(customer['Total Orders'] || 0);\nif (totalOrders >= 5) tags.push('regular_customer');\nif (totalOrders >= 15) tags.push('loyal_customer');\n\n// VIP detection (high value or marked manually)\nconst vipFlag = String(customer['VIP Status'] || '').toUpperCase() === 'TRUE';\nif (vipFlag) tags.push('vip');\n\n// Sentiment analysis\nconst sentimentScores = history\n  .map(h => parseFloat(h['Sentiment Score'] || 0))\n  .filter(n => !isNaN(n));\nconst avgSentiment = sentimentScores.length > 0\n  ? sentimentScores.reduce((a,b) => a+b, 0) / sentimentScores.length\n  : 0;\n\nif (avgSentiment >= 1) tags.push('promoter');\nif (avgSentiment <= -1) tags.push('at_risk');\n\n// Complaint pattern\nconst complaints = history.filter(h => \n  (h['Intent'] || '').toLowerCase().includes('complaint')\n).length;\nif (complaints >= 3) tags.push('frequent_complainer');\n\n// Escalation pattern\nconst escalations = history.filter(h => \n  String(h['Escalated'] || '').toUpperCase() === 'TRUE'\n).length;\nif (escalations >= 2) tags.push('needs_attention');\n\n// Engagement\nif (history.length >= 50) tags.push('engaged');\nif (history.length >= 100) tags.push('super_engaged');\n\n// New customer\nconst firstContact = customer['First Contact Date'];\nif (firstContact) {\n  const daysSince = (Date.now() - new Date(firstContact).getTime()) / (1000*60*60*24);\n  if (daysSince < 7) tags.push('new_customer');\n}\n\n// Inactive\nconst lastContact = customer['Last Contact Date'];\nif (lastContact) {\n  const daysSinceContact = (Date.now() - new Date(lastContact).getTime()) / (1000*60*60*24);\n  if (daysSinceContact > 30) tags.push('inactive');\n  if (daysSinceContact > 90) tags.push('churned');\n}\n\nreturn {\n  json: {\n    tenant: ctx.tenant,\n    customer_id: ctx.customer_id,\n    tags: tags,\n    tags_string: tags.join(', '),\n    avg_sentiment: +avgSentiment.toFixed(2),\n    total_messages: history.length,\n    total_complaints: complaints,\n    total_escalations: escalations,\n    total_orders: totalOrders,\n    analyzed_at: new Date().toISOString().slice(0,19).replace('T', ' ')\n  }\n};"
      },
      "id": "d5c153df-696f-471a-ae26-bb1ae830cbf0",
      "name": "ANALYZE_TAGS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.tenant.sheets_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.tenant.sheet_customers }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer ID": "={{ $json.customer_id }}",
            "Customer Tags": "={{ $json.tags_string }}",
            "Avg Sentiment": "={{ $json.avg_sentiment }}",
            "Tags Updated At": "={{ $json.analyzed_at }}"
          },
          "matchingColumns": [
            "Customer ID"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "0e78d353-752d-42da-95ff-6f7546199487",
      "name": "SAVE_TAGS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jn4jQ7q52Yubhgwt",
          "name": "Google Sheets account new Email"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const t = $('ANALYZE_TAGS').first().json; return { json: { success: true, customer_id: t.customer_id, tags: t.tags, avg_sentiment: t.avg_sentiment } };"
      },
      "id": "4f24aa65-a236-4cf8-b9c9-149dbbd7763e",
      "name": "RETURN_TAGS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-08T12:16:42.317Z",
      "createdAt": "2026-06-08T12:16:42.317Z",
      "role": "workflow:owner",
      "workflowId": "7YUp4Nalz4kgSZ1F",
      "projectId": "AMCsil8RzcKs4p4h"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-08T12:16:42.317Z",
  "versionId": "3aaf4bca-9670-4561-91f3-ee09dd6ffd10"
}