n8n/🔧 SHARED_LOG_CONVERSATION.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "LOG_CONV_PREPARE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG_CONV_PREPARE": {
      "main": [
        [
          {
            "node": "APPEND_CONVERSATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPEND_CONVERSATION": {
      "main": [
        [
          {
            "node": "RETURN_SUCCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-08T12:15:15.836Z",
  "id": "26gNMLYgcyo4S1cw",
  "isArchived": false,
  "meta": null,
  "name": "🔧 SHARED_LOG_CONVERSATION",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"sheets_id\": \"1xxx...\", \"sheet_conv_history\": \"Conversation_History\"}, \"customer_id\": \"CUST_260606_001\", \"customer_name\": \"محمد\", \"customer_message\": \"السلام عليكم\", \"ai_response\": \"أهلاً بك يا محمد\", \"intent\": \"general\", \"intent_confidence\": 0.85, \"sentiment_score\": 0, \"escalated\": false, \"response_time_sec\": 2, \"input_tokens\": 1200, \"output_tokens\": 50, \"cost_egp\": 0.18, \"model_used\": \"anthropic/claude-sonnet-4.5\"}"
      },
      "id": "37d6610c-718f-4187-83e9-172fcbf24f53",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst tenant = input.tenant;\nif (!tenant || !tenant.sheets_id) throw new Error('Missing tenant');\n\n// Use existing conversation_id or generate new one\nconst today = new Date();\nconst datePart = today.toISOString().slice(0,10).replace(/-/g,'');\nconst convId = input.conversation_id || `CONV_${datePart}_${Math.floor(Math.random() * 9000) + 1000}`;\n\nreturn {\n  json: {\n    tenant: tenant,\n    conversation_id: convId,\n    customer_id: input.customer_id || 'UNKNOWN',\n    customer_name: input.customer_name || '',\n    timestamp: today.toISOString().slice(0,19).replace('T', ' '),\n    channel: input.channel || 'whatsapp',\n    customer_message: input.customer_message || '',\n    ai_response: input.ai_response || '',\n    intent: input.intent || 'general',\n    intent_confidence: input.intent_confidence || 0,\n    sentiment_score: input.sentiment_score || 0,\n    sentiment_label: input.sentiment_label || 'Neutral',\n    escalated: input.escalated || false,\n    response_time_sec: input.response_time_sec || 0,\n    input_tokens: input.input_tokens || 0,\n    output_tokens: input.output_tokens || 0,\n    cost_egp: input.cost_egp || 0,\n    model_used: input.model_used || ''\n  }\n};"
      },
      "id": "5a99d400-f73b-48e5-a8a4-4589bbfeda7d",
      "name": "LOG_CONV_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.tenant.sheets_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.tenant.sheet_conv_history }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Conversation ID": "={{ $json.conversation_id }}",
            "Customer ID": "={{ $json.customer_id }}",
            "Customer Name": "={{ $json.customer_name }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Channel": "={{ $json.channel }}",
            "Customer Message": "={{ $json.customer_message }}",
            "AI Response": "={{ $json.ai_response }}",
            "Intent": "={{ $json.intent }}",
            "Intent Confidence": "={{ $json.intent_confidence }}",
            "Sentiment Score": "={{ $json.sentiment_score }}",
            "Escalated": "={{ $json.escalated }}",
            "Response Time (sec)": "={{ $json.response_time_sec }}",
            "Input Tokens": "={{ $json.input_tokens }}",
            "Output Tokens": "={{ $json.output_tokens }}",
            "Cost (EGP)": "={{ $json.cost_egp }}",
            "Model": "={{ $json.model_used }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "ed85a0bd-9493-427d-a0df-0ad14e76faf5",
      "name": "APPEND_CONVERSATION",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jn4jQ7q52Yubhgwt",
          "name": "Google Sheets account new Email"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true, conversation_id: $('LOG_CONV_PREPARE').first().json.conversation_id } };"
      },
      "id": "50439df9-7bf2-49db-be7e-bf4c4e08b9c2",
      "name": "RETURN_SUCCESS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-08T12:15:15.836Z",
      "createdAt": "2026-06-08T12:15:15.836Z",
      "role": "workflow:owner",
      "workflowId": "26gNMLYgcyo4S1cw",
      "projectId": "AMCsil8RzcKs4p4h"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-08T12:15:15.836Z",
  "versionId": "4266a14c-859a-4db5-973e-3db2cf9d2d48"
}