n8n/final workflows/v6/SHARED_SEND_PRESENCE_v2.json
{
  "name": "🔧 SHARED_SEND_PRESENCE_v2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"instance_name\": \"arq-cust-260613-a3f2\", \"remote_jid\": \"201234567890@s.whatsapp.net\", \"delay_ms\": 3000}"
      },
      "id": "9318f039-104a-4f92-b0ba-3f9ece06f791",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $json.instance_name }}",
        "remoteJid": "={{ $json.remote_jid }}",
        "delay": "={{ $json.delay_ms || 3000 }}"
      },
      "id": "4e2eab57-9859-4047-a9c4-0901fa1c3741",
      "name": "SEND_PRESENCE",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "evolutionApi": {
          "id": "2MxBhVWARkVSE5fQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true, message: 'presence sent' } };"
      },
      "id": "22984236-8d78-4ea3-aeb6-2a7b78e24727",
      "name": "RETURN_SUCCESS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "SEND_PRESENCE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND_PRESENCE": {
      "main": [
        [
          {
            "node": "RETURN_SUCCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}