n8n/final workflows/v6/SHARED_ORDER_MODIFY_v2.json
{
  "name": "🔧 SHARED_ORDER_MODIFY_v2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"business_id\": \"uuid\"}, \"order_number\": \"ORD-2606-0001\", \"items\": [{\"name\": \"x\", \"qty\": 1, \"price\": 10}], \"notes\": \"\"}"
      },
      "id": "4d32d240-5437-41de-b7d3-8ba4913dacfa",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const i=$input.first().json;const t=i.tenant||{};\nif(!t.business_id||!i.order_number) throw new Error('Missing business_id/order_number');\nconst items=Array.isArray(i.items)?i.items.map(x=>({name:String(x.name||''),qty:+(x.qty||1),price:+(x.price||0)})):null;\nconst total=items?+items.reduce((s,x)=>s+x.qty*x.price,0).toFixed(2):null;\nconst body={updated_at:new Date().toISOString()};\nif(items){body.items=items;body.subtotal_egp=total;body.total_egp=total;}\nif(i.notes) body.notes=i.notes;\nreturn {json:{business_id:t.business_id,order_number:i.order_number,body}};"
      },
      "id": "855e6a67-c95f-4954-b52b-aaec39ea2db8",
      "name": "PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zjathejcdkpxjyvululp.supabase.co/rest/v1/orders?business_id=eq.{{ $('PREPARE').first().json.business_id }}&order_number=eq.{{ $('PREPARE').first().json.order_number }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('PREPARE').first().json.body) }}"
      },
      "id": "b8b01835-8210-49e9-915e-76ca34e73302",
      "name": "MODIFY_ORDER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let r=$json; if(Array.isArray(r)) r=r[0];\nreturn {json:{success:!!(r&&r.id), order_number:$('PREPARE').first().json.order_number,\n  total_egp:(r&&r.total_egp)||null, message:(r&&r.id)?'تم تعديل الطلب':'الطلب غير موجود'}};"
      },
      "id": "93424270-e24c-4dde-bd2f-c36d9eff143d",
      "name": "RETURN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "PREPARE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARE": {
      "main": [
        [
          {
            "node": "MODIFY_ORDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MODIFY_ORDER": {
      "main": [
        [
          {
            "node": "RETURN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}