n8n/final workflows/send notification to admin.json
{
  "name": "send notification to admin",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        0
      ],
      "id": "f0cebab1-5362-4f94-b22e-890bd4788752",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usage_counters",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": []
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "07688d9a-8609-4cd4-961b-6d533dd9e7a1",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "rXgc8PEXJoXWBygd",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        0
      ],
      "id": "ca43be23-c605-4410-ad83-eb9557148fe4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Arq Flow",
        "remoteJid": "={{ $json.contact_phone }}",
        "messageText": "={{ $('Code in JavaScript').item.json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        848,
        192
      ],
      "id": "b5f27b22-8a0b-4148-bddf-cd847e48f8dc",
      "name": "Send text",
      "credentials": {
        "evolutionApi": {
          "id": "2MxBhVWARkVSE5fQ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "businesses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.business_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "e4a4188a-2737-479b-a4cf-2f9c20f15019",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "rXgc8PEXJoXWBygd",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// كود n8n لمراقبة الاستهلاك والتاريخ\n// الرصيد الأساسي: balance_egp | الاستهلاك: cost_egp\n// لا يتم إرسال أي تنبيهات للعملاء الذين انتهت باقتهم بالفعل\n// Mode: Run Once for All Items\n// ============================================================\n\n// ============== المتغيرات ==============\nconst DAYS_BEFORE_END = [5, 2, 0];   // تنبيهات الأيام\nconst TODAY = new Date();            // تاريخ اليوم الفعلي\n\n// أسماء الحقول في الداتا\nconst FIELD_BUSINESS_ID = \"business_id\";\nconst FIELD_PERIOD_END = \"period_end\";\nconst FIELD_BASE_BALANCE = \"balance_egp\";  // الرصيد الأساسي\nconst FIELD_COST = \"cost_egp\";             // التكلفة (الاستهلاك)\n\n// ============== الدوال المساعدة ==============\n\n// يحول نص \"YYYY-MM-DD\" إلى Date\nfunction parseDate(dateStr) {\n  const [year, month, day] = dateStr.split(\"-\").map(Number);\n  return new Date(year, month - 1, day);\n}\n\n// عدد الأيام الفاصلة بين تاريخين\nfunction daysBetween(dateA, dateB) {\n  const msPerDay = 1000 * 60 * 60 * 24;\n  const a = new Date(dateA.getFullYear(), dateA.getMonth(), dateA.getDate());\n  const b = new Date(dateB.getFullYear(), dateB.getMonth(), dateB.getDate());\n  return Math.round((a - b) / msPerDay);\n}\n\n// دالة فحص وتنبيه الرصيد (90% و 100%)\nfunction getBalanceAlertText(record) {\n  const baseBalance = record[FIELD_BASE_BALANCE] || 0; \n  const costAmount = record[FIELD_COST] || 0;          \n\n  if (baseBalance <= 0) return null;\n\n  const remainingBalance = baseBalance - costAmount;\n  const consumedPercent = (costAmount / baseBalance) * 100;\n\n  if (remainingBalance <= 0 || consumedPercent >= 100) {\n    return `تنبيه: لقد استهلكت 100% من رصيد باقتك الحالي. الرصيد المتبقي هو 0 ج.م، تم إيقاف الخدمة مؤقتاً، يُرجى إعادة الشحن فوراً لتفعيل الخدمة.`;\n  }\n\n  if (consumedPercent >= 90) {\n    return `تنبيه: لقد استهلكت ${consumedPercent.toFixed(0)}% من رصيد باقتك. الرصيد المتبقي لديك هو ${remainingBalance.toFixed(2)} ج.م فقط، يُرجى الشحن قريباً لتجنب انقطاع الخدمة.`;\n  }\n\n  return null;\n}\n\n// تنبيه التاريخ (تم إزالة رسالة الانتهاء لأننا بنتجاهلهم)\nfunction getDateAlertText(daysLeft, record) {\n  if (DAYS_BEFORE_END.includes(daysLeft)) {\n    if (daysLeft === 0) {\n      return `اليوم هو آخر يوم في باقتك الحالية (تنتهي ${record[FIELD_PERIOD_END]})، سيتم إيقاف الخدمة تلقائياً خلال 4 أيام في حال لم يتم التجديد. يمكنك التجديد عبر لوحة التحكم الخاصة بك.`;\n    }\n    return `باقتك ستنتهي بعد ${daysLeft} ${daysLeft === 1 ? \"يوم\" : \"أيام\"} (بتاريخ ${record[FIELD_PERIOD_END]})، يُرجى التجديد في الوقت المناسب.`;\n  }\n  return null;\n}\n\n// ============== التنفيذ الرئيسي ==============\n\nconst records = items.map((item) => item.json);\nconst alertsByBusiness = {}; \n\nfor (const record of records) {\n  const businessId = record[FIELD_BUSINESS_ID];\n  const periodEnd = parseDate(record[FIELD_PERIOD_END]);\n  const daysLeft = daysBetween(periodEnd, TODAY);\n\n  // === الشرط الجديد: تجاهل السجلات التي انتهت صلاحيتها ===\n  if (daysLeft < 0) {\n    continue; \n  }\n\n  const balanceText = getBalanceAlertText(record);\n  const dateText = getDateAlertText(daysLeft, record);\n\n  if (!balanceText && !dateText) continue; \n\n  if (!alertsByBusiness[businessId]) {\n    alertsByBusiness[businessId] = { parts: [], lastRecord: record };\n  }\n\n  if (balanceText) alertsByBusiness[businessId].parts.push(balanceText);\n  if (dateText) alertsByBusiness[businessId].parts.push(dateText);\n  \n  alertsByBusiness[businessId].lastRecord = record; \n}\n\nconst outputItems = [];\n\nfor (const businessId of Object.keys(alertsByBusiness)) {\n  const { parts, lastRecord } = alertsByBusiness[businessId];\n  const uniqueParts = [...new Set(parts)];\n\n  const message =\n    `عزيزي العميل،\\n` +\n    uniqueParts.join(\"\\n\") +\n    `\\n\\nشكراً لتعاملك معنا.`;\n\n  outputItems.push({\n    json: {\n      business_id: businessId,\n      message: message,\n      alerts_count: uniqueParts.length,\n      period_end: lastRecord[FIELD_PERIOD_END],\n      base_balance_egp: lastRecord[FIELD_BASE_BALANCE],\n      cost_egp: lastRecord[FIELD_COST]\n    },\n  });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        0
      ],
      "id": "95e76590-42af-4ab8-bcd6-9cc473f2018e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "badf6c40-a9aa-4031-97b4-3d39ffabaff8",
              "leftValue": "={{ $('Code in JavaScript').item.json.period_end }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -208
      ],
      "id": "0ca2aa6b-c7cc-425b-addb-f81b63eec8b0",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gfqMIQDvPIR7IkQ1",
          "mode": "list",
          "cachedResultUrl": "/workflow/gfqMIQDvPIR7IkQ1",
          "cachedResultName": "stop bots"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        976,
        -128
      ],
      "id": "404a1d79-6990-42ce-808e-fe7a491b4e0b",
      "name": "Call 'stop bots'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        -224
      ],
      "id": "4321c345-38f3-4c4e-b25c-676784a6b6a2",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Call 'stop bots'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'stop bots'": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c0cd498-c6e7-4f92-afd8-ddf6a8c0a864",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6ff05776992964543c85834eed789ae8d538e2826bed09559b1709e0337b4da"
  },
  "id": "Ssydh6NPTEAFdPlw",
  "tags": []
}