n8n/v6/Bot_Factory_v6_Supabase_industry.json
{
  "name": "🏭 Bot Factory v6 (Supabase) — Industry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arqflow_factory_v6",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "88c06b6f-b96a-4e62-9f46-6bc221d1f1a6",
      "name": "FACTORY_WEBHOOK",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "webhookId": "32871b3a-5539-4cce-995d-5f5c174bf751"
    },
    {
      "parameters": {
        "jsCode": "// ⚙️ EDIT THESE ONCE. (HMAC secret must be inline — Code nodes can't read credentials.)\nconst cfg = {\n  hmac_secret: 'PASTE_ARQFLOW_HMAC_SECRET_HERE',       // == platform N8N_WEBHOOK_SECRET\n  template_starter: 'PASTE_STARTER_TEMPLATE_WORKFLOW_ID',\n  template_business: 'PASTE_BUSINESS_TEMPLATE_WORKFLOW_ID',\n  template_enterprise: 'PASTE_ENTERPRISE_TEMPLATE_WORKFLOW_ID'\n};\nconst item = $input.first().json;\nreturn { json: { body: item.body, headers: item.headers || {}, cfg } };"
      },
      "id": "ab00177b-7f81-4355-8a18-0a1d400119e7",
      "name": "FACTORY_CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst c = $('FACTORY_CONFIG').first().json;\nconst body = c.body, headers = c.headers || {};\nif (!body) throw new Error('Empty payload');\nconst secret = c.cfg.hmac_secret || '';\nconst incoming = headers['x-arqflow-signature'] || headers['X-ArqFlow-Signature'] || '';\nconst raw = JSON.stringify(body);\nconst expected = crypto.createHmac('sha256', secret).update(raw).digest('hex');\nlet ok = false;\ntry { ok = crypto.timingSafeEqual(Buffer.from(incoming, 'hex'), Buffer.from(expected, 'hex')); } catch (e) { ok = false; }\nif (!ok) throw new Error('Invalid signature');\nconst required = ['business_id', 'order_id', 'plan_id', 'business', 'callback_url'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length) throw new Error('Missing required fields: ' + missing.join(', '));\nreturn { json: { body } };"
      },
      "id": "14fcc124-e339-4302-9108-e4d7f7079bba",
      "name": "VALIDATE_SIGNATURE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 202,
        "responseBody": "={{ JSON.stringify({ accepted: true, order_id: $('VALIDATE_SIGNATURE').first().json.body.order_id }) }}",
        "options": {}
      },
      "id": "1266517a-9df9-42a3-b1d1-3da90c0f5048",
      "name": "RESPOND_ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $('VALIDATE_SIGNATURE').first().json.body;\nconst cfg = $('FACTORY_CONFIG').first().json.cfg;\nconst plan = b.plan || {};\nconst tier = String(b.plan_id || plan.tier || 'starter').toLowerCase();\nconst templateMap = { starter: cfg.template_starter, business: cfg.template_business, enterprise: cfg.template_enterprise };\nconst template_id = templateMap[tier] || cfg.template_starter;\nconst slug = String(b.order_id).toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\n\n// ── Industry decision layer (ADDITIVE — does NOT change plan→template routing) ──\nconst BASE_TOOLS = [\"escalate\", \"save_transaction\", \"send_link\"];\nconst INDUSTRY_CAPS = {\"restaurant\": {\"capabilities\": {\"orders\": true, \"menu\": true, \"delivery\": true, \"promotions\": true, \"products\": true, \"booking\": false}, \"enabled_tools\": [\"escalate\", \"save_transaction\", \"send_link\"], \"persona\": {\"role_ar\": \"أنت مساعد مطعم: تعرض المنيو، تستقبل الطلبات، وتجاوب على التوصيل والعروض.\", \"role_en\": \"Restaurant assistant\"}, \"intents\": [\"عرض المنيو\", \"استقبال طلب\", \"تتبع طلب\", \"معلومات التوصيل\", \"العروض الحالية\"]}, \"ecommerce\": {\"capabilities\": {\"products\": true, \"orders\": true, \"inventory\": true, \"coupons\": true, \"booking\": false}, \"enabled_tools\": [\"escalate\", \"save_transaction\", \"send_link\"], \"persona\": {\"role_ar\": \"أنت مساعد متجر إلكتروني: تبحث في المنتجات، تتحقق من المخزون، وتُنهي عملية الشراء.\", \"role_en\": \"E-commerce assistant\"}, \"intents\": [\"البحث عن منتج\", \"تفاصيل منتج\", \"توافر المخزون\", \"إتمام الطلب\", \"تتبع الطلب\", \"الكوبونات\"]}, \"store\": {\"capabilities\": {\"products\": true, \"orders\": true, \"inventory\": true, \"booking\": false}, \"enabled_tools\": [\"escalate\", \"save_transaction\", \"send_link\"], \"persona\": {\"role_ar\": \"أنت مساعد محل تجاري: تعرض المنتجات المتاحة وتستقبل الطلبات.\", \"role_en\": \"Store assistant\"}, \"intents\": [\"عرض المنتجات\", \"توافر المخزون\", \"استقبال طلب\", \"العنوان\", \"مواعيد العمل\"]}, \"clinic\": {\"capabilities\": {\"booking\": true, \"doctors\": true, \"patients\": true, \"medical_services\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"get_available_slots\", \"book_appointment\", \"cancel_appointment\", \"reschedule_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد عيادة: تعرض الأطباء والمواعيد المتاحة، وتتولّى الحجز والإلغاء وإعادة الجدولة والاستفسار عن الخدمات الطبية.\", \"role_en\": \"Clinic assistant\"}, \"intents\": [\"عرض الأطباء\", \"المواعيد المتاحة\", \"حجز موعد\", \"إعادة جدولة\", \"إلغاء موعد\", \"الخدمات الطبية والأسعار\", \"التأمين\"]}, \"medical_center\": {\"capabilities\": {\"booking\": true, \"doctors\": true, \"patients\": true, \"medical_services\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"get_available_slots\", \"book_appointment\", \"cancel_appointment\", \"reschedule_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد مركز طبي متعدد التخصصات: تدير الحجوزات والمواعيد والاستفسارات الطبية عبر الأقسام.\", \"role_en\": \"Medical center assistant\"}, \"intents\": [\"الأقسام والتخصصات\", \"عرض الأطباء\", \"المواعيد المتاحة\", \"حجز موعد\", \"إعادة جدولة\", \"إلغاء موعد\", \"الأسعار والتأمين\"]}, \"pharmacy\": {\"capabilities\": {\"products\": true, \"orders\": true, \"inventory\": true, \"booking\": false}, \"enabled_tools\": [\"escalate\", \"save_transaction\", \"send_link\"], \"persona\": {\"role_ar\": \"أنت مساعد صيدلية: تتحقق من توافر الأدوية والمنتجات وتستقبل الطلبات.\", \"role_en\": \"Pharmacy assistant\"}, \"intents\": [\"البحث عن دواء/منتج\", \"توافر المخزون\", \"استقبال طلب\", \"تتبع الطلب\", \"استشارة صيدلي\"]}, \"hotel\": {\"capabilities\": {\"rooms\": true, \"reservations\": true, \"booking\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"room_reservation\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد فندق: تعرض أنواع الغرف وأسعارها، وتتولّى الحجوزات والاستفسار عن تسجيل الدخول والخروج.\", \"role_en\": \"Hotel assistant\"}, \"intents\": [\"توافر الغرف\", \"أنواع الغرف والأسعار\", \"عمل حجز\", \"تعديل/إلغاء حجز\", \"تسجيل الدخول/الخروج\", \"المرافق\"]}, \"gym\": {\"capabilities\": {\"memberships\": true, \"classes\": true, \"trainers\": true, \"booking\": true, \"orders\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"save_transaction\", \"book_appointment\", \"get_available_slots\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد جيم: تشرح باقات العضوية والحصص والمدربين وتتولّى الاشتراك وحجز الحصص.\", \"role_en\": \"Gym assistant\"}, \"intents\": [\"باقات العضوية والأسعار\", \"جدول الحصص\", \"المدربون\", \"الاشتراك\", \"حجز حصة\", \"مواعيد العمل\"]}, \"salon\": {\"capabilities\": {\"booking\": true, \"services\": true, \"staff\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"get_available_slots\", \"book_appointment\", \"cancel_appointment\", \"reschedule_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد صالون: تعرض الخدمات والأسعار وتتولّى حجز المواعيد مع الفريق.\", \"role_en\": \"Salon assistant\"}, \"intents\": [\"عرض الخدمات والأسعار\", \"المواعيد المتاحة\", \"حجز موعد\", \"إلغاء/إعادة جدولة\", \"الفريق\", \"مواعيد العمل\"]}, \"real_estate\": {\"capabilities\": {\"properties\": true, \"visits\": true, \"agents\": true, \"booking\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"get_available_slots\", \"book_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد عقارات: تبحث عن العقارات المناسبة، تحجز المعاينات، وتوجّه العميل للمندوب المناسب.\", \"role_en\": \"Real estate assistant\"}, \"intents\": [\"البحث عن عقار\", \"تفاصيل عقار\", \"حجز معاينة\", \"طلب اتصال\", \"الأسعار والتمويل\", \"تخصيص مندوب\"]}, \"educational_center\": {\"capabilities\": {\"courses\": true, \"enrollment\": true, \"teachers\": true, \"orders\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"save_transaction\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد مركز تعليمي: تعرض الكورسات والمواعيد وتتولّى التسجيل والاستفسارات.\", \"role_en\": \"Educational center assistant\"}, \"intents\": [\"عرض الكورسات\", \"تفاصيل كورس\", \"المواعيد\", \"التسجيل\", \"الأسعار والخصومات\", \"المدرسون\"]}, \"lawyer\": {\"capabilities\": {\"cases\": true, \"consultations\": true, \"booking\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"get_available_slots\", \"book_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد مكتب محاماة: تستقبل طلبات الاستشارة، تحجز المواعيد، وتجاوب على حالة القضايا.\", \"role_en\": \"Law office assistant\"}, \"intents\": [\"طلب استشارة\", \"حجز موعد\", \"حالة القضية\", \"مجالات الممارسة\", \"الأتعاب\", \"المستندات المطلوبة\"]}, \"car_service\": {\"capabilities\": {\"services\": true, \"work_orders\": true, \"booking\": true, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"save_transaction\", \"get_available_slots\", \"book_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد مركز صيانة سيارات: تستقبل طلبات الخدمة، تحدد المواعيد، وتتابع حالة أمر الشغل.\", \"role_en\": \"Car service assistant\"}, \"intents\": [\"طلب خدمة\", \"حجز موعد\", \"حالة أمر الشغل\", \"كتالوج الخدمات\", \"الأسعار\", \"العنوان\"]}, \"service_company\": {\"capabilities\": {\"services\": true, \"work_orders\": true, \"booking\": true, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"save_transaction\", \"get_available_slots\", \"book_appointment\", \"send_reminder\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد شركة خدمات: تستقبل طلبات الخدمة، تحدد المواعيد، وتوزّع الفنيين.\", \"role_en\": \"Service company assistant\"}, \"intents\": [\"طلب خدمة\", \"حجز موعد\", \"حالة أمر الشغل\", \"كتالوج الخدمات\", \"عرض سعر\", \"مناطق التغطية\"]}, \"company\": {\"capabilities\": {\"general\": true, \"orders\": false, \"products\": false}, \"enabled_tools\": [\"escalate\", \"send_link\", \"human_handoff\"], \"persona\": {\"role_ar\": \"أنت مساعد أعمال عام: تجاوب على استفسارات العملاء وتعرّف بالخدمات.\", \"role_en\": \"General business assistant\"}, \"intents\": [\"استفسار عام\", \"الخدمات\", \"الأسعار\", \"التواصل\", \"مواعيد العمل\", \"العنوان\"]}};\nconst ALIASES = {\"medical\": \"medical_center\", \"hospital\": \"medical_center\", \"cafe\": \"restaurant\", \"realestate\": \"real_estate\", \"real-estate\": \"real_estate\", \"education\": \"educational_center\", \"educational\": \"educational_center\", \"school\": \"educational_center\", \"law_firm\": \"lawyer\", \"lawyer_office\": \"lawyer\", \"law\": \"lawyer\", \"beauty\": \"salon\", \"spa\": \"salon\", \"fitness\": \"gym\", \"services\": \"service_company\", \"service\": \"service_company\"};\nconst biz = b.business || {};\nlet bt = String(biz.business_type || b.business_type || '').trim().toLowerCase();\nif (ALIASES[bt]) bt = ALIASES[bt];\nconst ind = INDUSTRY_CAPS[bt] || null;\nconst capabilities = ind ? ind.capabilities : {};\nconst enabled_tools = ind ? ind.enabled_tools : BASE_TOOLS;   // unknown/legacy => current 3 tools\nconst persona = ind ? ind.persona : null;\nconst industry_intents = ind ? ind.intents : [];\n\nreturn { json: {\n  business_id: b.business_id, order_id: b.order_id, plan_id: tier, tier,\n  template_id, instance_name: 'arq-' + slug, webhook_path: 'bot-' + slug, callback_url: b.callback_url,\n  business: b.business, content: b.content || {},\n  model: plan.model || 'anthropic/claude-sonnet-4.5',\n  fallback_model: plan.fallback_model || 'anthropic/claude-haiku-4.5',\n  max_tokens: plan.max_tokens || 1024, memory_window: plan.memory_window || 10,\n  message_limit: plan.message_limit || 5000, tools: plan.tools || [], media_support: plan.media_support || ['text'],\n  business_type: bt || null, industry_matched: !!ind, capabilities, enabled_tools, persona, industry_intents\n} };"
      },
      "id": "9f9cef70-5a0a-4e3b-97bc-8d4e60f8bad7",
      "name": "SELECT_TEMPLATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('SELECT_TEMPLATE').first().json;\nconst b = s.business || {}, c = s.content || {};\nconst arr = (x) => Array.isArray(x) ? x : [];\nconst products = arr(c.products).map(p => `- ${p.name}${p.price_egp != null ? ' (' + p.price_egp + ' ج.م)' : ''}${p.description ? ': ' + p.description : ''}`).join('\\n');\nconst services = arr(c.services).map(p => `- ${p.name}${p.price_egp != null ? ' (' + p.price_egp + ' ج.م)' : ''}${p.description ? ': ' + p.description : ''}`).join('\\n');\nconst faqs = arr(c.faqs).map(f => `س: ${f.question || ''}\\nج: ${f.answer || ''}`).join('\\n\\n');\nconst langs = arr(b.languages).join('، ') || 'العربية';\nlet p = '';\np += `# هوية البوت\\nأنت المساعد الذكي الرسمي لـ \"${b.business_name || ''}\" (${b.business_type || 'نشاط تجاري'}).\\n`;\nif (b.description) p += `${b.description}\\n`;\np += `\\n# الشخصية والأسلوب\\n- نبرة الصوت: ${b.tone_of_voice || 'ودود ومحترف'}.\\n`;\nif (b.assistant_personality) p += `- الشخصية: ${b.assistant_personality}\\n`;\np += `- اللغات: ${langs}.\\n`;\nif (b.greeting_message) p += `- رسالة الترحيب: ${b.greeting_message}\\n`;\np += `\\n# قواعد صارمة (Hard Rules)\\n- لا تخترع معلومات غير موجودة في قاعدة المعرفة.\\n- عند عدم المعرفة: ${b.fallback_behavior || 'حوّل العميل لموظف بشري'}.\\n- لا تشارك بيانات عملاء آخرين.\\n`;\nif (b.working_hours) p += `\\n# مواعيد العمل\\n${b.working_hours}\\n`;\nif (b.location) p += `\\n# الموقع\\n${b.location}\\n`;\nif (arr(b.payment_methods).length) p += `\\n# طرق الدفع\\n${arr(b.payment_methods).join('، ')}\\n`;\nif (b.delivery_info) p += `\\n# التوصيل\\n${b.delivery_info}\\n`;\nif (b.return_policy) p += `\\n# سياسة الاسترجاع\\n${b.return_policy}\\n`;\nif (b.order_instructions) p += `\\n# تعليمات الطلب\\n${b.order_instructions}\\n`;\nif (b.policy) p += `\\n# السياسات\\n${b.policy}\\n`;\nif (products) p += `\\n# المنتجات\\n${products}\\n`;\nif (services) p += `\\n# الخدمات\\n${services}\\n`;\nif (b.knowledge_base) p += `\\n# قاعدة المعرفة\\n${b.knowledge_base}\\n`;\nif (faqs) p += `\\n# الأسئلة الشائعة\\n${faqs}\\n`;\n// ── Industry layer (ADDITIVE): persona + intents + allowed-tools, only when matched ──\nif (s.industry_matched && s.persona) {\n  p += `\\n# دور المساعد حسب نوع النشاط\\n${s.persona.role_ar}\\n`;\n  const _ints = Array.isArray(s.industry_intents) ? s.industry_intents : [];\n  if (_ints.length) p += `- المهام الأساسية: ${_ints.join('، ')}\\n`;\n  const _tools = Array.isArray(s.enabled_tools) ? s.enabled_tools : [];\n  if (_tools.length) p += `\\n# الأدوات المتاحة لك (استخدمها فقط عند الحاجة، ولا تستخدم أدوات غير مذكورة)\\n- ${_tools.join('، ')}\\n`;\n}\nreturn { json: { ...s, system_prompt: p.trim() } };"
      },
      "id": "1f781173-0751-415c-9c9f-01cd2ce09f94",
      "name": "BUILD_SYSTEM_PROMPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('BUILD_SYSTEM_PROMPT').first().json;\nconst b = s.business || {};\nconst admin_whatsapp = String(b.contact_number || b.whatsapp_number || '').replace(/[^0-9]/g, '');\nconst tenant_config = {\n  business_id: s.business_id, order_id: s.order_id, plan_id: s.plan_id,\n  business_name: b.business_name || '', instance_name: s.instance_name, webhook_path: s.webhook_path,\n  admin_whatsapp, model: s.model, fallback_model: s.fallback_model, max_tokens: s.max_tokens,\n  memory_window: s.memory_window, message_limit: s.message_limit, tools: s.tools,\n  media_support: s.media_support, system_prompt: s.system_prompt,\n  business_type: s.business_type, industry_matched: s.industry_matched, capabilities: s.capabilities, enabled_tools: s.enabled_tools, persona: s.persona\n};\nconst replacements = {\n  '__BUSINESS_ID__': s.business_id, '__ORDER_ID__': s.order_id, '__PLAN_ID__': s.plan_id,\n  '__BUSINESS_NAME__': b.business_name || '', '__INSTANCE_NAME__': s.instance_name,\n  '__WEBHOOK_PATH__': s.webhook_path, '__ADMIN_WHATSAPP__': admin_whatsapp,\n  '__MODEL__': s.model, '__FALLBACK_MODEL__': s.fallback_model, '__MAX_TOKENS__': String(s.max_tokens),\n  '__MEMORY_WINDOW__': String(s.memory_window), '__MESSAGE_LIMIT__': String(s.message_limit),\n  '__SYSTEM_PROMPT__': s.system_prompt, '__TENANT_CONFIG_JSON__': JSON.stringify(tenant_config)\n};\nreturn { json: { business_id: s.business_id, order_id: s.order_id, plan_id: s.plan_id,\n  business_name: b.business_name || '', instance_name: s.instance_name, webhook_path: s.webhook_path,\n  callback_url: s.callback_url, system_prompt: s.system_prompt, template_id: s.template_id,\n  tenant_config, replacements, enabled_tools: s.enabled_tools, capabilities: s.capabilities } };"
      },
      "id": "a92676b2-9534-4bfa-8404-e378488667d3",
      "name": "INJECTION_ENGINE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://bc1b1373.kube-ops.com/api/v1/workflows/{{ $('INJECTION_ENGINE').first().json.template_id }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "c1e67522-5c85-4c69-8650-1134c104152b",
      "name": "FETCH_TEMPLATE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "arqflow_n8n_key",
          "name": "n8n API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inj = $('INJECTION_ENGINE').first().json;\nconst tpl = $input.first().json;\nif (!tpl || !Array.isArray(tpl.nodes)) {\n  return { json: { provision_ok: false, error: 'Template fetch failed (check FACTORY_CONFIG template IDs + n8n API credential)' } };\n}\nfunction jesc(v) {\n  return String(v == null ? '' : v).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\\t/g, '\\\\t');\n}\nlet wf = { name: '🤖 Arq | ' + inj.business_name + ' (' + inj.order_id + ')',\n           nodes: tpl.nodes, connections: tpl.connections, settings: tpl.settings || { executionOrder: 'v1' } };\nlet str = JSON.stringify(wf);\nfor (const [k, v] of Object.entries(inj.replacements)) { str = str.split(k).join(jesc(v)); }\ntry { wf = JSON.parse(str); } catch (e) { return { json: { provision_ok: false, error: 'Replacement produced invalid JSON: ' + e.message } }; }\n// ── Capability pruning (ADDITIVE): keep only industry-enabled optional tools.\n// Base tools (escalate/save_transaction/send_link) are NEVER pruned -> legacy bots identical to today.\ntry {\n  const enabled = new Set(Array.isArray(inj.enabled_tools) ? inj.enabled_tools : []);\n  const OPTIONAL = new Set(['book_appointment','cancel_appointment','reschedule_appointment','get_available_slots','room_reservation','send_reminder','human_handoff']);\n  if (enabled.size && wf && Array.isArray(wf.nodes)) {\n    wf.nodes = wf.nodes.filter(n => !(n && n.type === '@n8n/n8n-nodes-langchain.toolWorkflow' && OPTIONAL.has(n.name) && !enabled.has(n.name)));\n    const names = new Set(wf.nodes.map(n => n && n.name));\n    if (wf.connections) { for (const k of Object.keys(wf.connections)) { if (!names.has(k)) delete wf.connections[k]; } }\n  }\n} catch (e) { /* never block provisioning on pruning */ }\nreturn { json: { provision_ok: true, workflow_payload: wf } };"
      },
      "id": "7b419126-4bc2-4038-9129-9e390553f81a",
      "name": "APPLY_REPLACEMENTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bc1b1373.kube-ops.com/api/v1/workflows",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('APPLY_REPLACEMENTS').first().json.workflow_payload) }}"
      },
      "id": "a51ed2ae-55b0-401b-8362-9f8811febdf9",
      "name": "CREATE_WORKFLOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "arqflow_n8n_key",
          "name": "n8n API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bc1b1373.kube-ops.com/api/v1/workflows/{{ $('CREATE_WORKFLOW').first().json.id }}/activate",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "f6d3be9d-abc3-494b-890b-4ec354a16ab1",
      "name": "ACTIVATE_WORKFLOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "arqflow_n8n_key",
          "name": "n8n API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inj = $('INJECTION_ENGINE').first().json;\nconst apply = $('APPLY_REPLACEMENTS').first().json;\nlet created = {}; try { created = $('CREATE_WORKFLOW').first().json || {}; } catch (e) {}\nconst workflow_id = created && created.id ? created.id : null;\nconst provision_ok = apply.provision_ok === true && !!workflow_id;\nreturn { json: { business_id: inj.business_id, order_id: inj.order_id, callback_url: inj.callback_url,\n  instance_name: inj.instance_name, webhook_path: inj.webhook_path, system_prompt: inj.system_prompt,\n  tenant_config: inj.tenant_config, workflow_id, provision_ok,\n  bot_webhook_url: 'https://bc1b1373.kube-ops.com/webhook/' + inj.webhook_path,\n  error: apply.error || (workflow_id ? null : 'Workflow creation failed (check n8n API credential)') } };"
      },
      "id": "8a1638ae-6d99-4072-beb1-dd0cb1934e5c",
      "name": "EXTRACT_META",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1ee4451-c2f7-41c5-a2e6-26ec1bc40824",
              "leftValue": "={{ $('EXTRACT_META').first().json.provision_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2718953c-8b08-47a6-bb88-f020622a121e",
      "name": "PROVISION_OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.mis.rooyai.com/instance/create",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instanceName: $('EXTRACT_META').first().json.instance_name, integration: 'WHATSAPP-BAILEYS', qrcode: true }) }}"
      },
      "id": "bcc81262-fb3a-4ec9-bb5f-35f9f28abb5c",
      "name": "CREATE_EVOLUTION_INSTANCE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "arqflow_evolution_key",
          "name": "Evolution apikey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.mis.rooyai.com/webhook/set/{{ $('EXTRACT_META').first().json.instance_name }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ webhook: { enabled: true, url: $('EXTRACT_META').first().json.bot_webhook_url, events: ['MESSAGES_UPSERT'], webhookByEvents: false, base64: false } }) }}"
      },
      "id": "6e840229-0b63-48c3-920f-4896c07eece8",
      "name": "CONFIGURE_EVOLUTION_WEBHOOK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        -120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "arqflow_evolution_key",
          "name": "Evolution apikey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://zjathejcdkpxjyvululp.supabase.co/rest/v1/businesses?id=eq.{{ $('EXTRACT_META').first().json.business_id }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'provisioning', workflow_id: $('EXTRACT_META').first().json.workflow_id, instance_name: $('EXTRACT_META').first().json.instance_name, webhook_path: $('EXTRACT_META').first().json.webhook_path, system_prompt: $('EXTRACT_META').first().json.system_prompt }) }}"
      },
      "id": "e96fdf0a-7a17-4b11-b643-77b2d4a4da54",
      "name": "UPDATE_SUPABASE_BUSINESS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        -120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zjathejcdkpxjyvululp.supabase.co/rest/v1/instances?on_conflict=instance_name",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $('EXTRACT_META').first().json.business_id, instance_name: $('EXTRACT_META').first().json.instance_name, evolution_status: 'created', webhook_url: $('EXTRACT_META').first().json.bot_webhook_url }) }}"
      },
      "id": "46ba3edd-7d95-4632-8879-6fbec4623d09",
      "name": "UPSERT_INSTANCE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        -120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst m = $('EXTRACT_META').first().json;\nconst secret = $('FACTORY_CONFIG').first().json.cfg.hmac_secret || '';\nconst payload = { event: 'provision_complete', business_id: m.business_id, workflow_id: m.workflow_id,\n  instance_name: m.instance_name, webhook_path: m.webhook_path, system_prompt: m.system_prompt, qr_sent: true };\nconst sig = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { json: { callback_url: m.callback_url, signature: sig, payload } };"
      },
      "id": "98493d25-5f77-4c88-916a-a31a52666887",
      "name": "BUILD_SUCCESS_CALLBACK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('BUILD_SUCCESS_CALLBACK').first().json.callback_url }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ArqFlow-Signature",
              "value": "={{ $('BUILD_SUCCESS_CALLBACK').first().json.signature }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('BUILD_SUCCESS_CALLBACK').first().json.payload) }}"
      },
      "id": "6be799e3-5e51-44df-a142-79e6f8eeadad",
      "name": "CALLBACK_SUCCESS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        -120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zjathejcdkpxjyvululp.supabase.co/rest/v1/automation_logs",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $('EXTRACT_META').first().json.business_id, workflow: 'bot_factory_v6', event: 'provision_complete', level: 'info', payload: { order_id: $('EXTRACT_META').first().json.order_id, workflow_id: $('EXTRACT_META').first().json.workflow_id, instance_name: $('EXTRACT_META').first().json.instance_name } }) }}"
      },
      "id": "3f8c22e9-e3ea-4f32-b04e-4aaf722faf35",
      "name": "LOG_SUCCESS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        -120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst m = $('EXTRACT_META').first().json;\nconst secret = $('FACTORY_CONFIG').first().json.cfg.hmac_secret || '';\nconst payload = { event: 'provision_failed', business_id: m.business_id, error: m.error || 'Provisioning failed' };\nconst sig = crypto.createHmac('sha256', secret).update(JSON.stringify(payload)).digest('hex');\nreturn { json: { callback_url: m.callback_url, signature: sig, payload } };"
      },
      "id": "8da00240-03db-4954-bd3c-07f592aa6348",
      "name": "BUILD_FAIL_CALLBACK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('BUILD_FAIL_CALLBACK').first().json.callback_url }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ArqFlow-Signature",
              "value": "={{ $('BUILD_FAIL_CALLBACK').first().json.signature }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('BUILD_FAIL_CALLBACK').first().json.payload) }}"
      },
      "id": "02c8faf3-a859-4caa-a439-ca654d75a575",
      "name": "CALLBACK_FAILED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zjathejcdkpxjyvululp.supabase.co/rest/v1/automation_logs",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $('EXTRACT_META').first().json.business_id, workflow: 'bot_factory_v6', event: 'provision_failed', level: 'error', payload: { order_id: $('EXTRACT_META').first().json.order_id, error: $('EXTRACT_META').first().json.error } }) }}"
      },
      "id": "5e5bf17f-33ec-4ed8-9b3e-0bd1ace96899",
      "name": "LOG_FAILED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "FACTORY_WEBHOOK": {
      "main": [
        [
          {
            "node": "FACTORY_CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FACTORY_CONFIG": {
      "main": [
        [
          {
            "node": "VALIDATE_SIGNATURE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALIDATE_SIGNATURE": {
      "main": [
        [
          {
            "node": "RESPOND_ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESPOND_ACK": {
      "main": [
        [
          {
            "node": "SELECT_TEMPLATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT_TEMPLATE": {
      "main": [
        [
          {
            "node": "BUILD_SYSTEM_PROMPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_SYSTEM_PROMPT": {
      "main": [
        [
          {
            "node": "INJECTION_ENGINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INJECTION_ENGINE": {
      "main": [
        [
          {
            "node": "FETCH_TEMPLATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_TEMPLATE": {
      "main": [
        [
          {
            "node": "APPLY_REPLACEMENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPLY_REPLACEMENTS": {
      "main": [
        [
          {
            "node": "CREATE_WORKFLOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_WORKFLOW": {
      "main": [
        [
          {
            "node": "ACTIVATE_WORKFLOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACTIVATE_WORKFLOW": {
      "main": [
        [
          {
            "node": "EXTRACT_META",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT_META": {
      "main": [
        [
          {
            "node": "PROVISION_OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROVISION_OK?": {
      "main": [
        [
          {
            "node": "CREATE_EVOLUTION_INSTANCE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BUILD_FAIL_CALLBACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_EVOLUTION_INSTANCE": {
      "main": [
        [
          {
            "node": "CONFIGURE_EVOLUTION_WEBHOOK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIGURE_EVOLUTION_WEBHOOK": {
      "main": [
        [
          {
            "node": "UPDATE_SUPABASE_BUSINESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_SUPABASE_BUSINESS": {
      "main": [
        [
          {
            "node": "UPSERT_INSTANCE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPSERT_INSTANCE": {
      "main": [
        [
          {
            "node": "BUILD_SUCCESS_CALLBACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_SUCCESS_CALLBACK": {
      "main": [
        [
          {
            "node": "CALLBACK_SUCCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALLBACK_SUCCESS": {
      "main": [
        [
          {
            "node": "LOG_SUCCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_FAIL_CALLBACK": {
      "main": [
        [
          {
            "node": "CALLBACK_FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALLBACK_FAILED": {
      "main": [
        [
          {
            "node": "LOG_FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}