n8n/v6/SHARED_CALCULATE_COST_v2.json
{
  "name": "🔧 SHARED_CALCULATE_COST_v2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"tenant\": {\"business_id\": \"00000000-0000-0000-0000-000000000000\", \"plan_id\": \"business\", \"business_name\": \"مطعم السدة\"}, \"model\": \"anthropic/claude-sonnet-4.5\", \"input_tokens\": 1200, \"output_tokens\": 350}"
      },
      "id": "326ac51d-f164-4255-8a03-0f2e340625ee",
      "name": "TRIGGER",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json;\nconst t = i.tenant || {};\nif (!t.business_id) throw new Error('Missing tenant.business_id');\nconst USD_TO_EGP = 49;\nconst pricing = {\n  'anthropic/claude-haiku-4.5':  { input: 1.00,  output: 5.00 },\n  'anthropic/claude-sonnet-4.5': { input: 3.00,  output: 15.00 },\n  'anthropic/claude-opus-4.7':   { input: 15.00, output: 75.00 },\n  'openai/gpt-4o':               { input: 2.50,  output: 10.00 },\n  'openai/gpt-4o-mini':          { input: 0.15,  output: 0.60 },\n  'google/gemini-2.0-flash':     { input: 0.10,  output: 0.40 }\n};\nconst model = i.model || 'anthropic/claude-sonnet-4.5';\nconst inTok = parseInt(i.input_tokens || 0);\nconst outTok = parseInt(i.output_tokens || 0);\nconst mp = pricing[model] || pricing['anthropic/claude-sonnet-4.5'];\nconst costUsd = ((inTok * mp.input) + (outTok * mp.output)) / 1000000;\nconst costEgp = +(costUsd * USD_TO_EGP).toFixed(4);\nreturn { json: {\n  business_id: t.business_id,\n  business_name: t.business_name || '',\n  model, input_tokens: inTok, output_tokens: outTok,\n  cost_usd: +costUsd.toFixed(6), cost_egp: costEgp,\n  usage_body: { b_id: t.business_id, in_tokens: inTok, out_tokens: outTok, msg_cost: costEgp }\n} };"
      },
      "id": "c024abbc-508d-45e6-afdf-b31c0baf41d0",
      "name": "CALCULATE_COST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zjathejcdkpxjyvululp.supabase.co/rest/v1/rpc/increment_usage",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('CALCULATE_COST').first().json.usage_body) }}"
      },
      "id": "c360b2b6-3911-4286-b630-83ff879c9361",
      "name": "INCREMENT_USAGE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const calc = $('CALCULATE_COST').first().json;\nlet row = $json;\nif (Array.isArray(row)) row = row[0] || {};\nconst used = parseInt(row.messages_used ?? 0);\nconst limit = parseInt(row.message_limit ?? 0);\nconst remaining = Math.max(0, limit - used);\nconst exceeded = limit > 0 && used > limit;\nreturn { json: {\n  success: true,\n  cost_egp: calc.cost_egp,\n  cost_usd: calc.cost_usd,\n  model: calc.model,\n  messages_used: used,\n  message_limit: limit,\n  messages_remaining: remaining,\n  limit_exceeded: exceeded,\n  action: exceeded ? 'fallback_model' : 'allow',\n  message: exceeded\n    ? `تجاوزت الحد الشهري (${limit} رسالة). تواصل مع ${calc.business_name} للترقية.`\n    : 'تم تحديث الاستهلاك بنجاح'\n} };"
      },
      "id": "2b905cd8-5b84-4902-9143-31e1af1023fe",
      "name": "RETURN_RESULT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "CALCULATE_COST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALCULATE_COST": {
      "main": [
        [
          {
            "node": "INCREMENT_USAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INCREMENT_USAGE": {
      "main": [
        [
          {
            "node": "RETURN_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}