n8n/v6/TENANT_BOT_TEMPLATE_v6_industry.json
{
  "name": "🤖 TENANT_BOT_TEMPLATE_v6 — Industry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "__WEBHOOK_PATH__",
        "options": {}
      },
      "id": "5615eab0-ec0f-4060-a95c-299a75b4d8ae",
      "name": "WEBHOOK_TRIGGER",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        200
      ],
      "webhookId": "8a05f3db-11f8-40bc-8b57-1f9fa88e0cc6"
    },
    {
      "parameters": {
        "jsCode": "return { json: __TENANT_CONFIG_JSON__ };"
      },
      "id": "62041e7b-e388-40d0-94ac-3f8c99aa4486",
      "name": "TENANT_CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const wh = $('WEBHOOK_TRIGGER').first().json;\nconst body = wh.body || wh;\nconst data = body.data || {};\nconst key = data.key || {};\nconst phone = String(key.remoteJid || '').split('@')[0].replace(/[^0-9]/g, '');\nconst fromMe = key.fromMe === true;\nconst m = data.message || {};\nconst text = m.conversation\n  || (m.extendedTextMessage && m.extendedTextMessage.text)\n  || (m.imageMessage && m.imageMessage.caption)\n  || (m.videoMessage && m.videoMessage.caption) || '';\nconst hasAudio = !!m.audioMessage;\nconst skip = fromMe || (!text && !hasAudio) || !phone;\nreturn { json: {\n  phone, name: data.pushName || '', wa_message_id: key.id || null,\n  customer_message: text, has_audio: hasAudio, from_me: fromMe, skip\n} };"
      },
      "id": "1e12c213-5eb0-4470-acba-85cc4352823b",
      "name": "PARSE_MESSAGE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "dee3e509-27dc-4738-a019-48daa5680682",
              "leftValue": "={{ !$('PARSE_MESSAGE').first().json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1a6286c-7f71-4698-a0e1-6f11c64a9430",
      "name": "VALID_MESSAGE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('PARSE_MESSAGE').first().json.customer_message }}",
        "options": {
          "systemMessage": "={{ $('TENANT_CONFIG').first().json.system_prompt }}"
        }
      },
      "id": "64268ab3-53dc-4fe7-85a1-1115e1ebd4db",
      "name": "AI_AGENT",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        700,
        120
      ]
    },
    {
      "parameters": {
        "model": "={{ $('TENANT_CONFIG').first().json.model }}",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.5
        }
      },
      "id": "f521c260-90dc-469e-8cb6-a15d87c19302",
      "name": "Bot Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        360
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ZUuFFfPUwfHYOctj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('PARSE_MESSAGE').first().json.phone }}",
        "contextWindowLength": "={{ $('TENANT_CONFIG').first().json.memory_window }}"
      },
      "id": "f7cd7c3e-1a73-45bc-96fd-dcbb9de44b66",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "name": "escalate",
        "description": "حوّل المحادثة لموظف بشري عند الشكوى أو طلب العميل أو خروج السؤال عن النطاق. مرّر JSON: {reason, customer_message, context_summary}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_ESCALATION_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "554fa6bc-f252-46b6-b897-55a7c6d28053",
      "name": "escalate",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "name": "save_transaction",
        "description": "احفظ طلب/أوردر العميل. مرّر JSON: {type, items:[{name,qty,price}], delivery_fee, payment_method, delivery_address, notes}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_SAVE_TRANSACTION_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "68cc0c78-db75-40cd-96e6-f9349ef28d74",
      "name": "save_transaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1180,
        360
      ]
    },
    {
      "parameters": {
        "name": "send_link",
        "description": "ابعت رابط جاهز للعميل (منيو/كتالوج/حجز/دفع/موقع). مرّر JSON: {category}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_SEND_LINK_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "4256314c-e3ff-4f90-983d-5c2eca02a787",
      "name": "send_link",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1360,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nlet reply = '';\nif (typeof ai.output === 'string') reply = ai.output;\nelse if (ai.text) reply = ai.text;\nelse if (ai.output && ai.output[0] && ai.output[0].content && ai.output[0].content[0]) reply = ai.output[0].content[0].text || '';\nelse if (ai.choices && ai.choices[0]) reply = ai.choices[0].message.content || '';\nreply = String(reply).trim();\nconst p = $('PARSE_MESSAGE').first().json;\nconst cfg = $('TENANT_CONFIG').first().json;\nconst sys = cfg.system_prompt || '';\nconst input_tokens = Math.ceil((sys.length + (p.customer_message || '').length) / 4);\nconst output_tokens = Math.ceil(reply.length / 4);\nreturn { json: {\n  reply, phone: p.phone, name: p.name, customer_message: p.customer_message,\n  wa_message_id: p.wa_message_id, input_tokens, output_tokens,\n  instance_name: cfg.instance_name, business_id: cfg.business_id,\n  plan_id: cfg.plan_id, model: cfg.model\n} };"
      },
      "id": "b092c32f-f5ee-441b-afa5-c47a4db59cf7",
      "name": "EXTRACT_REPLY",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        120
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('TENANT_CONFIG').first().json.instance_name }}",
        "remoteJid": "={{ $('EXTRACT_REPLY').first().json.phone }}@s.whatsapp.net",
        "messageText": "={{ $('EXTRACT_REPLY').first().json.reply }}",
        "options_message": {}
      },
      "id": "8cac1a61-0b74-4db5-a786-4d1e2cf730f8",
      "name": "SEND_REPLY",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1260,
        120
      ],
      "credentials": {
        "evolutionApi": {
          "id": "2MxBhVWARkVSE5fQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const e = $('EXTRACT_REPLY').first().json;\nreturn { json: { tenant: { business_id: e.business_id, plan_id: e.plan_id },\n  model: e.model, input_tokens: e.input_tokens, output_tokens: e.output_tokens } };"
      },
      "id": "3b080eab-6562-4bb6-add2-1fe688b3ca33",
      "name": "BUILD_COST_INPUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        120
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_CALCULATE_COST_ID",
          "mode": "id"
        },
        "mode": "once",
        "options": {}
      },
      "id": "f20ead71-d22a-4453-add3-a7a888c9fe17",
      "name": "CALCULATE_COST",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1700,
        120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const e = $('EXTRACT_REPLY').first().json;\nlet cost = 0; try { const r = $('CALCULATE_COST').first().json; cost = (r && r.cost_egp) || 0; } catch (x) {}\nreturn { json: { tenant: { business_id: e.business_id },\n  customer: { phone: e.phone, name: e.name },\n  customer_message: e.customer_message, ai_response: e.reply,\n  intent: 'general', sentiment_score: 0, escalated: false,\n  input_tokens: e.input_tokens, output_tokens: e.output_tokens,\n  cost_egp: cost, model: e.model, wa_message_id: e.wa_message_id } };"
      },
      "id": "fa434bf0-99a2-4242-94d6-ef1a34bc98be",
      "name": "BUILD_LOG_INPUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        120
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_LOG_CONVERSATION_ID",
          "mode": "id"
        },
        "mode": "once",
        "options": {}
      },
      "id": "00f238ca-e8ca-4da2-ba09-d664ff0f1694",
      "name": "LOG_CONVERSATION",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "get_available_slots",
        "description": "اعرف المواعيد المتاحة في يوم معيّن. مرّر JSON: {date:'YYYY-MM-DD', doctor_id?, service_id?}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_GET_AVAILABLE_SLOTS_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "f4215b91-0b3c-4e84-942b-43e3506b1beb",
      "name": "get_available_slots",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        480
      ]
    },
    {
      "parameters": {
        "name": "book_appointment",
        "description": "احجز موعداً للعميل. مرّر JSON: {phone, name?, starts_at:'ISO', doctor_id?, service_id?, notes?}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_BOOK_APPOINTMENT_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "7632940f-a9f9-4f14-a3fd-df32d256193d",
      "name": "book_appointment",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        560
      ]
    },
    {
      "parameters": {
        "name": "cancel_appointment",
        "description": "ألغِ موعداً قائماً. مرّر JSON: {appointment_id}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_CANCEL_APPOINTMENT_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "ff8c588d-0f7e-487b-a4f3-5471549e91d7",
      "name": "cancel_appointment",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        640
      ]
    },
    {
      "parameters": {
        "name": "reschedule_appointment",
        "description": "أعد جدولة موعد. مرّر JSON: {appointment_id, new_starts_at:'ISO', new_ends_at?}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_RESCHEDULE_APPOINTMENT_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "a402e46c-8942-4fa4-a73a-d39dd9cc9c2c",
      "name": "reschedule_appointment",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        720
      ]
    },
    {
      "parameters": {
        "name": "room_reservation",
        "description": "أنشئ طلب حجز غرفة فندق. مرّر JSON: {phone, name?, check_in:'YYYY-MM-DD', check_out:'YYYY-MM-DD', room_id?, guests_count?, notes?}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_ROOM_RESERVATION_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "9b7dba8a-25b3-40c8-86c6-d90ef4295eed",
      "name": "room_reservation",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        800
      ]
    },
    {
      "parameters": {
        "name": "send_reminder",
        "description": "أرسل تذكيراً للعميل عبر واتساب. مرّر JSON: {phone, message}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_SEND_REMINDER_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "b9b749bc-9948-4f4b-ae53-e889d1b212be",
      "name": "send_reminder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1000,
        880
      ]
    },
    {
      "parameters": {
        "name": "human_handoff",
        "description": "حوّل المحادثة لموظف بشري. مرّر JSON: {customer:{phone,name?}, reason?, customer_message?, context_summary?}.",
        "workflowId": {
          "__rl": true,
          "value": "SET_SHARED_HUMAN_HANDOFF_ID",
          "mode": "id"
        },
        "specifyInputSchema": false
      },
      "id": "5162f85c-6533-4277-8f59-25c2b9905b72",
      "name": "human_handoff",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1220,
        480
      ]
    }
  ],
  "connections": {
    "WEBHOOK_TRIGGER": {
      "main": [
        [
          {
            "node": "TENANT_CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TENANT_CONFIG": {
      "main": [
        [
          {
            "node": "PARSE_MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE_MESSAGE": {
      "main": [
        [
          {
            "node": "VALID_MESSAGE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALID_MESSAGE?": {
      "main": [
        [
          {
            "node": "AI_AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_AGENT": {
      "main": [
        [
          {
            "node": "EXTRACT_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT_REPLY": {
      "main": [
        [
          {
            "node": "SEND_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND_REPLY": {
      "main": [
        [
          {
            "node": "BUILD_COST_INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_COST_INPUT": {
      "main": [
        [
          {
            "node": "CALCULATE_COST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALCULATE_COST": {
      "main": [
        [
          {
            "node": "BUILD_LOG_INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_LOG_INPUT": {
      "main": [
        [
          {
            "node": "LOG_CONVERSATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "escalate": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "save_transaction": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send_link": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_available_slots": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "book_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancel_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reschedule_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "room_reservation": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send_reminder": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "human_handoff": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}