n8n/converted/TEMPLATE_starter_supabase.json
{
  "name": "🤖 Arq_Starter_Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-cust-09062656",
        "options": {}
      },
      "id": "cfd918f9-9aee-48c0-b056-33fdc34e80e9",
      "name": "WEBHOOK_TRIGGER",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1792,
        576
      ],
      "webhookId": "6089bbae-58b5-4c7e-a7ef-fca9286aa9af"
    },
    {
      "parameters": {},
      "id": "eb904516-9769-44c7-ad8c-85c67aa789bc",
      "name": "Ignore Outgoing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1344,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3f30dd6-6c48-40f0-abc8-72db87f3be91",
              "name": "business_id",
              "value": "__BUSINESS_ID__",
              "type": "string"
            },
            {
              "id": "b4ff833f-091c-4360-bbd4-3624c50e7445",
              "name": "bot_name",
              "value": "Arq | مطعم السدة",
              "type": "string"
            },
            {
              "id": "48c033fb-fd52-472c-b1e4-eb9f63435c7f",
              "name": "business_name",
              "value": "مطعم السدة",
              "type": "string"
            },
            {
              "id": "a18e3320-77cf-4dae-863e-8bee955b6338",
              "name": "order_id",
              "value": "CUST_09062656",
              "type": "string"
            },
            {
              "id": "44927f4b-585f-498a-a046-357c9ac39db9",
              "name": "plan_id",
              "value": "recuojCkjaCet1Xs3",
              "type": "string"
            },
            {
              "id": "f2940cae-fbd3-4654-a25d-44be5d7dfa9c",
              "name": "system_prompt",
              "value": "# هوية البوت  \n، مساعد مطعم السدة للمندي والمظبي. دوره الرد على استفسارات العملاء، تقديم معلومات عن المنيو، استقبال طلبات الأوردرات، وتسهيل تجربة الطلب بكل ود وسلاسة.\n\n# نبرة الصوت  \nنبرة ودودة ودافئة، بتخلي العميل يحس إنه بيتعامل مع صديق بيهتم براحة وقته. الكلام بسيط، واضح، وبعيد عن الرسمية الجامدة، مع لمسة لطيفة تحسس العميل بالترحيب والاهتمام.  \nمثال 1: \"أهلاً بيك في مطعم السدة! ممكن أساعدك تختار من منيو المندي اللذيذ؟\"  \nمثال 2: \"لو حابب تطلب حاجة أو تعرف الأسعار، أنا هنا عشان أساعدك في أي وقت.\"\n\n# المعلومات الأساسية  \n- النشاط: مطعم يمني متخصص في اللحم المندي والمظبي  \n- الفروع:  \n  - شارع جزيرة العرب - المهندسين، الجيزة  \n  - شارع دجلة - المهندسين، الجيزة  \n  - فرع مصر الجديدة  \n- ساعات العمل: من 7 صباحاً حتى 4 صباحاً يومياً  \n- التواصل:  \n  - رقم الهاتف: +201090220773  \n  - الخط الساخن لطلبات التوصيل: 17331  \n- طرق الدفع: كاش، فيزا، تحويل بنكي  \n- ملاحظة: الأسعار غير شاملة ضريبة القيمة المضافة 14%\n\n# قاعدة المعرفة  \nمطعم السدة يقدم أطباق يمنية أصيلة مع تركيز على المندي والمظبي واللحوم المخبوزة. قائمة الطعام مقسمة إلى:  \n\n1. اللحوم والمندي والمخبازة  \n   - نفر مندي لحم: 480 ج.م  \n   - مكس فحسة وسلتة: 300 ج.م  \n   - ثمين مخمود: 877 ج.م  \n   - ربع تيس مندي: 1690 ج.م  \n   - نصف تيس مندي: 3160 ج.م  \n\n2. السلطات والمقبلات  \n   - سلطة مشكل: 38.50 ج.م  \n   - سلطة بلدي: 26.40 ج.م  \n   - سلطة سلايز: 38.50 ج.م  \n   - طحينة: 27.50 ج.م  \n   - بصل وليمون: 16.50 ج.م  \n   - زبادي خيار: 23.10 ج.م  \n   - جرجير بدبس الرمان: 44.00 ج.م  \n   - جرجير: 24.00 ج.م  \n   - خضراء حارة: 24.20 ج.م  \n   - سمبوسة (لحم أو جبن): 14.30 ج.م  \n\n3. الصلصات والإضافات  \n   - سحاوق جبن: 23.10 ج.م  \n   - سحاوق أحمر: 17.60 ج.م  \n   - بسباس هندي: 16.50 ج.م  \n   - عشار علبة صغيرة: 12.10 ج.م  \n   - عشار علبة كبير: 38.50 ج.م  \n\n4. الحلويات  \n   - كنافة جبنة: 127.19 ج.م  \n\n*جميع الأسعار غير شاملة ضريبة القيمة المضافة 14%.*\n\n# السياسات  \n- الأسعار ثابتة حسب القائمة ولا يتم تعديلها من البوت.  \n- الضريبة (14%) غير مشمولة في الأسعار ويجب إضافتها عند الدفع.  \n- الطلبات خارج ساعات العمل يتم تحويلها للموظف المختص.  \n- البوت لا يجمع أو يطلب بيانات بطاقات الائتمان.  \n- في حالة استفسارات غير موجودة في القاعدة يتم تحويل المحادثة لموظف خدمة العملاء.  \n- لا يسمح للبوت باختراع معلومات أو تقديم بيانات غير موجودة في القاعدة.\n\n# قواعد الرد  \n1. الأسعار تُقدم كما هي في القائمة مع التنبيه على عدم شمولها للضريبة.  \n2. أي استفسار خارج المعرفة يتم تحويله مباشرة حسب سياسة fallback (handover).  \n3. خارج ساعات العمل (قبل 7 صباحاً أو بعد 4 صباحاً) يتم إعلام العميل وتحويله للموظف المختص.  \n4. في حالة وجود عميل متوتر أو عصبي يتم تحويل المحادثة فوراً للموظف المختص.  \n\n# سيناريوهات الـ Handover  \n- استفسارات غير مدرجة في قاعدة المعرفة.  \n- طلبات حجز أو أوردرات معقدة لا يمكن للبوت تنفيذها تلقائياً.  \n- شكاوى أو عملاء يظهر عليهم توتر أو غضب.  \n- خارج ساعات العمل الرسمية.  \n\n# الردود الجاهزة  \n\n- ترحيب:  \n\"أهلاً بيك في مطعم السدة! أنا سعد، مساعدك الشخصي. ممكن أساعدك تختار من منيو المندي والمظبي اللذيذ؟\"\n\n- خارج ساعات العمل:  \n\"شكراً لتواصلك مع مطعم السدة. حالياً المطعم مغلق، ساعات العمل من 7 صباحاً حتى 4 صباحاً. هحول طلبك لموظفنا أول ما نفتح.\"\n\n- توضيح الأسعار والضريبة:  \n\"الأسعار اللي عندنا في المنيو غير شاملة ضريبة القيمة المضافة 14%، وبتضاف على إجمالي الفاتورة عند الدفع.\"\n\n- handover (تحويل لموظف):  \n\"حسنًا، هحولك لموظف خدمة العملاء عشان يساعدك بشكل أفضل. شكراً لصبرك.\"\n\n- سؤال \"إنت بوت؟\":  \n\"أنا مساعد مطعم السدة، موجود هنا عشان أساعدك في طلباتك واستفساراتك.\"\n\n# قواعد صارمة  \n- ممنوع اختراع أي معلومات غير موجودة في قاعدة المعرفة.  \n- ممنوع طلب بيانات بطاقات الائتمان أو معلومات حساسة.  \n- في حالة طلب حجز أو أوردر معقد يتم تحويل المحادثة مباشرة.  \n- عند سؤال العميل \"إنت بوت؟\" يتم الرد كما هو موضح أعلاه.  \n- أي تحويل يتم بكتابة [ESCALATE].\n\n# Tools متاحة  \n- خطة recuojCkjaCet1Xs3: Enterprise  \n- الأدوات المتاحة: create_order, book_appointment, log_interaction, crm_sync, route_to_agent, sentiment_alert  \n\nالبوت يستخدم هذه الأدوات لتسهيل عملية الطلب، حجز المواعيد، تسجيل التفاعلات، مزامنة بيانات العملاء، توجيه المحادثات للموظفين المناسبين، والتنبيه عند وجود عملاء متوترين.",
              "type": "string"
            },
            {
              "id": "6b46ddea-f193-4319-94ac-7b08a315a8a2",
              "name": "working_hours",
              "value": "7ص - 4ص كل يوم",
              "type": "string"
            },
            {
              "id": "f42016ea-6bef-42f4-a16a-c2fdd09db9b7",
              "name": "target_platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "055b0268-9de5-45f6-8686-2f1f6c0ad1ce",
              "name": "openrouter_model",
              "value": "anthropic/claude-sonnet-4.5",
              "type": "string"
            },
            {
              "id": "cf96a0fd-784b-4636-8a0b-48e9bb853c33",
              "name": "fallback_model",
              "value": "anthropic/claude-haiku-4.5",
              "type": "string"
            },
            {
              "id": "08c3af71-4b93-4aa0-8bc9-752fe5daa8ce",
              "name": "second_fallback_model",
              "value": "google/gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "0c3fb301-605d-4fc1-83fc-519fa38fdf3a",
              "name": "max_tokens",
              "value": 800,
              "type": "number"
            },
            {
              "id": "965ec2c3-29aa-4192-a7cb-c7d7106057e0",
              "name": "memory_window",
              "value": 8,
              "type": "number"
            },
            {
              "id": "95a8edf2-5a7e-405f-bd95-69e07f9a01fb",
              "name": "language",
              "value": "العربية",
              "type": "string"
            },
            {
              "id": "945a9b9e-9ced-4f41-8d31-fd4106e38746",
              "name": "brand_voice",
              "value": "friendly",
              "type": "string"
            },
            {
              "id": "d7578a2c-6a5b-435f-ad78-49d3fa487f0d",
              "name": "fallback_message",
              "value": "عذراً، حصل ظرف تقني بسيط. حاول تاني أو تواصل معانا.",
              "type": "string"
            },
            {
              "id": "1908be80-5629-4a72-8b0a-1431bf603bd1",
              "name": "escalation_message",
              "value": "لحظة من فضلك، هحولك لزميل من فريق مطعم السدة يساعدك أفضل 🙏",
              "type": "string"
            },
            {
              "id": "91867fb4-5fad-45f6-a399-a21247e947bb",
              "name": "escalation_number",
              "value": "201090220773",
              "type": "string"
            },
            {
              "id": "43c9aab6-da09-44f2-aa63-363ded203e26",
              "name": "instance_name",
              "value": "bot_CUST_09062656",
              "type": "string"
            },
            {
              "id": "efd39739-dcd1-4c49-9781-4a8559e010d2",
              "name": "sheets_spreadsheet_id",
              "value": "1n5dzzBsXtzl7gfZ-Em3kB-TiAsCdNlFQ2pyKkyR-ZkQ",
              "type": "string"
            },
            {
              "id": "d8a50cca-c507-43cd-aed0-bb1c05cde5ad",
              "name": "sheet_customers",
              "value": "Customers",
              "type": "string"
            },
            {
              "id": "3910ec8e-008f-4fc4-a766-c08809f0f9d4",
              "name": "sheet_conv_history",
              "value": "Conversation_History",
              "type": "string"
            },
            {
              "id": "10bbf82d-ea7c-4316-beb1-9d0d8c6ea32e",
              "name": "sheet_orders",
              "value": "Orders",
              "type": "string"
            },
            {
              "id": "f7c16d30-e232-477f-8a2c-157909119e68",
              "name": "sheet_invoices",
              "value": "Invoices",
              "type": "string"
            },
            {
              "id": "099c91b6-6458-4926-b7ba-9cdb6078e1f5",
              "name": "sheet_preferences",
              "value": "Preferences",
              "type": "string"
            },
            {
              "id": "f8a9ecb6-1912-4893-be4e-781d723e38a6",
              "name": "sheet_links",
              "value": "Links",
              "type": "string"
            },
            {
              "id": "e4987467-8c2c-424b-aceb-5458ad1effcc",
              "name": "sheet_menu",
              "value": "Menu_Data",
              "type": "string"
            },
            {
              "id": "d9e5f326-8bed-4491-aae7-0860ecc314b6",
              "name": "sheet_escalation_log",
              "value": "Escalation_Log",
              "type": "string"
            },
            {
              "id": "af8ff71d-f1e3-4d27-9d94-1203e182bb18",
              "name": "sentiment_threshold",
              "value": -2,
              "type": "number"
            },
            {
              "id": "d17be44c-f16d-4ab9-b9d4-c73c6f958dd2",
              "name": "currency",
              "value": "EGP",
              "type": "string"
            },
            {
              "id": "b34cbd09-1a0a-432b-aaa2-702cea2fe908",
              "name": "tax_pct",
              "value": 14,
              "type": "number"
            },
            {
              "id": "73303004-b911-4636-97e8-fb48d1866070",
              "name": "domain_type",
              "value": "مطعم",
              "type": "string"
            },
            {
              "id": "b61cb531-63e8-4a1c-afaf-872e43a74eef",
              "name": "enable_invoices",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "7d89b8b4-0622-4fe9-9667-75bbab508bd0",
              "name": "admin_whatsapp",
              "value": "201090220773",
              "type": "string"
            },
            {
              "id": "3758426f-1f84-4065-a4c5-b3bc4d5cf3d3",
              "name": "openai_api_key",
              "value": "",
              "type": "string"
            },
            {
              "id": "e4adc197-42a3-42d9-9600-1f8a704c2188",
              "name": "wf_save_transaction",
              "value": "4UJrPVyoLgZ4d28l",
              "type": "string"
            },
            {
              "id": "7c91a7cb-4761-4820-bd4f-4ed19409db63",
              "name": "wf_send_link",
              "value": "jExb5PYrZyTJxKKd",
              "type": "string"
            },
            {
              "id": "1e90c154-43a2-45cc-b9a2-eb8fec62ee17",
              "name": "wf_escalation",
              "value": "oubJjWLRvTglbmdy",
              "type": "string"
            },
            {
              "id": "58a0ada5-8334-4a01-9264-e6bd4cd36e8a",
              "name": "wf_send_presence",
              "value": "mJAK1gvtrbryJsUB",
              "type": "string"
            },
            {
              "id": "ac64acfd-3c48-4fc0-a57e-49c7a5ce187d",
              "name": "wf_log_conversation",
              "value": "26gNMLYgcyo4S1cw",
              "type": "string"
            },
            {
              "id": "9391a126-65d3-4689-a6d2-5fdd14d65cf5",
              "name": "wf_calculate_cost",
              "value": "1sx8sTJOiuwPeI62",
              "type": "string"
            },
            {
              "id": "401d8e4f-808c-43d6-a282-c48510e69fe5",
              "name": "wf_summarize",
              "value": "Oc5DlbCEALNsl1dF",
              "type": "string"
            },
            {
              "id": "d3eca2f8-8cf3-4a5b-a560-b29796328de1",
              "name": "wf_auto_tag",
              "value": "7YUp4Nalz4kgSZ1F",
              "type": "string"
            },
            {
              "id": "fb80d949-1e80-4e69-93a2-d1f325b33775",
              "name": "sheet_knowledge_base",
              "value": "Knowledge_Base",
              "type": "string"
            },
            {
              "id": "82d74f98-6238-49ef-954b-5870986aa90c",
              "name": "sheet_id_tracker",
              "value": "ID_Tracker",
              "type": "string"
            },
            {
              "id": "gen-plan_tier",
              "name": "plan_tier",
              "value": "starter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "87a15fea-ad98-427f-b298-247b8db2d1d5",
      "name": "CLIENT_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NORMALIZE INPUT — Multi-channel, multi-media\n// Handles: text, audio, image, location (per plan)\n// ============================================================\ntry {\n  const body = $('WEBHOOK_TRIGGER').first().json.body ?? {};\n  const cfg = $('CLIENT_CONFIG').first().json;\n\n  const evoData = body.data ?? {};\n  const evoMessage = evoData.message ?? {};\n\n  // Extract sender ID (clean from WhatsApp suffixes)\n  let rawSender = body.remoteJid ?? evoData.key?.remoteJid\n    ?? body.sender_id ?? body.from ?? 'unknown';\n  const sender_id = String(rawSender)\n    .replace('@s.whatsapp.net','')\n    .replace('@c.us','');\n\n  const platform = (body.platform ?? cfg.target_platform ?? 'whatsapp').toLowerCase();\n  const timestamp = body.date_time ?? new Date().toISOString();\n  const start_time = Date.now();\n  const pushName = body.data?.pushName || body.pushName || '';\n\n  // Detect media type\n  let message_text = '';\n  let media_type = 'text';\n  let media_url = '';\n  let media_supported = true;\n  let media_rejection_msg = '';\n\n  // Plan-based media support\n  const planMediaSupport = {\n    starter:    { text: true, image: false, audio: false, location: false, video: false, document: false },\n    business:   { text: true, image: false, audio: true,  location: true,  video: false, document: false },\n    enterprise: { text: true, image: true,  audio: true,  location: true,  video: false, document: false }\n  };\n  const plan = (cfg.plan_tier || cfg.plan_id || 'starter').toLowerCase();\n  const support = planMediaSupport[plan] || planMediaSupport.starter;\n\n  if (evoData.messageType === 'audioMessage' || body.type === 'audio') {\n    media_type = 'audio';\n    media_url = body.audio?.url ?? evoMessage.audioMessage?.url ?? body.media_url ?? '';\n    media_supported = support.audio && !!cfg.openai_api_key;\n    if (!media_supported) {\n      media_rejection_msg = support.audio\n        ? 'الرسايل الصوتية مؤقتاً مش مفعلة. ابعت رسالتك نص لو تحب 🙏'\n        : 'الرسايل الصوتية متاحة في خطط Business و Enterprise. ابعت رسالتك نص لو تحب 🙏';\n    }\n  } else if (evoData.messageType === 'imageMessage' || body.type === 'image') {\n    media_type = 'image';\n    media_url = body.image?.url ?? evoMessage.imageMessage?.url ?? body.media_url ?? '';\n    message_text = evoMessage.imageMessage?.caption ?? body.caption ?? '';\n    media_supported = support.image && !!cfg.openai_api_key;\n    if (!media_supported) {\n      media_rejection_msg = support.image\n        ? 'تحليل الصور مؤقتاً مش مفعل. ابعت تفاصيل طلبك نص لو تحب 🙏'\n        : 'تحليل الصور متاح في خطة Enterprise. ابعت تفاصيل طلبك نص لو تحب 🙏';\n    }\n  } else if (evoData.messageType === 'locationMessage' || body.type === 'location') {\n    media_type = 'location';\n    const loc = evoMessage.locationMessage ?? body.location ?? {};\n    message_text = `موقع: ${loc.degreesLatitude || loc.lat || ''}, ${loc.degreesLongitude || loc.lng || ''}`;\n    media_supported = support.location;\n    if (!media_supported) {\n      media_rejection_msg = 'مشاركة الموقع متاحة في خطط Business و Enterprise. اكتب عنوانك بالنص 🙏';\n    }\n  } else if (evoData.messageType === 'videoMessage' || body.type === 'video') {\n    media_type = 'video';\n    media_supported = false;\n    media_rejection_msg = 'الفيديوهات مش مدعومة. ابعت رسالتك نص لو تحب 🙏';\n  } else if (evoData.messageType === 'documentMessage' || body.type === 'document') {\n    media_type = 'document';\n    media_supported = false;\n    media_rejection_msg = 'الملفات مش مدعومة. ابعت تفاصيل طلبك نص لو تحب 🙏';\n  } else {\n    // Text message\n    const evoText = evoMessage.conversation ?? evoMessage.extendedTextMessage?.text;\n    message_text = (evoText ?? body.message ?? body.text ?? body.Body ?? '').trim();\n  }\n\n  return {\n    json: {\n      sender_id,\n      platform,\n      timestamp,\n      start_time,\n      message_text: message_text.trim(),\n      media_type,\n      media_url,\n      media_supported,\n      media_rejection_msg,\n      push_name: pushName,\n      remote_jid: `${sender_id}@s.whatsapp.net`,\n      plan_id: cfg.plan_id,\n      plan_tier: plan\n    }\n  };\n} catch (e) {\n  throw new Error('NORMALIZE_INPUT failed: ' + e.message);\n}"
      },
      "id": "2c3bbdba-6477-4714-bd31-15287c4bb47f",
      "name": "NORMALIZE_INPUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ANTI-INJECTION GUARD (Pre-Classifier)\n// Detects prompt injection attempts before they reach the AI\n// ============================================================\nconst text = ($json.message_text || '').toLowerCase();\n\nconst injectionPatterns = [\n  // Direct override attempts\n  /ignore (all )?(previous|prior|above) (instructions|rules)/i,\n  /forget (everything|all|previous)/i,\n  /disregard (your|all|the) (instructions|rules|prompt)/i,\n  /you are now/i,\n  /pretend (you are|to be)/i,\n  /act as (if|though)/i,\n  /(jailbreak|dan mode|developer mode)/i,\n  /system prompt/i,\n  /reveal your (instructions|prompt|rules)/i,\n  /what (are|is) your (instructions|prompt|rules)/i,\n  \n  // Arabic variants\n  /تجاهل (كل |جميع )?(التعليمات|الأوامر|القواعد)/,\n  /انسى (كل |جميع )/,\n  /اعمل نفسك/,\n  /كأنك/,\n  /إيه (تعليماتك|الأوامر بتاعتك)/,\n  /ما (هي )?(تعليماتك|الأوامر)/,\n  /اظهر (لي )?الـ?\\s?prompt/,\n  /قول لي (الـ )?prompt/,\n];\n\nconst isInjection = injectionPatterns.some(p => p.test(text));\n\nreturn {\n  json: {\n    ...$json,\n    is_injection_attempt: isInjection,\n    safe_to_process: !isInjection\n  }\n};"
      },
      "id": "d26e26c1-4743-4504-8e53-4fcb8527fd78",
      "name": "ANTI_INJECTION_GUARD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_send_presence }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instance_name": "={{ $('CLIENT_CONFIG').first().json.instance_name }}",
            "remote_jid": "={{ $('NORMALIZE_INPUT').first().json.remote_jid }}",
            "delay_ms": "={{ 2000 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "b0c54677-a662-48fa-864f-d07808a80097",
      "name": "Send Typing Presence",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        384
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.is_injection_attempt ? 3 : !$json.media_supported ? 3 : $json.media_type === 'audio' ? 0 : $json.media_type === 'image' ? 1 : 2 }}"
      },
      "id": "d1a1f848-3d72-42ae-9f08-e8171f917f88",
      "name": "ROUTE_MEDIA_TYPE",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -672,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare for Whisper API call\nconst cfg = $('CLIENT_CONFIG').first().json;\nreturn {\n  json: {\n    ...$json,\n    whisper_url: 'https://api.openai.com/v1/audio/transcriptions',\n    language_hint: cfg.language === 'العربية' ? 'ar' : 'en'\n  }\n};"
      },
      "id": "0a1daec4-eeef-436c-8cca-b5a2cbef1a7e",
      "name": "TRANSCRIBE_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "={{ $json.language_hint }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fa87a6c2-b4a5-41d6-92ac-3d47bb78e04b",
      "name": "WHISPER_TRANSCRIBE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        128
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const transcription = $json.text || $json.transcription || '';\nconst ctx = $('NORMALIZE_INPUT').first().json;\nif (!transcription.trim()) {\n  return {\n    json: {\n      ...ctx,\n      message_text: '',\n      media_processed: false,\n      transcription_failed: true,\n      fallback_msg: 'مقدرتش أفهم الرسالة الصوتية. ابعتها نص لو تقدر 🙏'\n    }\n  };\n}\nreturn {\n  json: {\n    ...ctx,\n    message_text: transcription.trim(),\n    media_processed: true,\n    media_source: 'whisper_stt'\n  }\n};"
      },
      "id": "c7e9da38-dd38-447b-ba94-af785d2fdf9b",
      "name": "EXTRACT_TRANSCRIPTION",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// On-demand image analysis with GPT-4o Vision\nconst ctx = $('NORMALIZE_INPUT').first().json;\nconst cfg = $('CLIENT_CONFIG').first().json;\nconst imageUrl = ctx.media_url;\n\nif (!imageUrl) {\n  return {\n    json: {\n      ...ctx,\n      message_text: ctx.message_text || 'صورة بدون وصف',\n      media_processed: true\n    }\n  };\n}\n\nconst payload = {\n  model: 'gpt-4o-mini',\n  messages: [{\n    role: 'user',\n    content: [\n      { type: 'image_url', image_url: { url: imageUrl } },\n      { type: 'text', text: 'صف الصورة دي باختصار في 80 كلمة كحد أقصى. ركز على المحتوى المهم اللي ممكن العميل يسأل عنه (منتج، إيصال، عنوان مكتوب، إلخ).' }\n    ]\n  }],\n  max_tokens: 200\n};\n\ntry {\n  const resp = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${cfg.openai_api_key}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(payload)\n  });\n  const data = await resp.json();\n  const imageDesc = data?.choices?.[0]?.message?.content ?? 'صورة وصلت';\n  const combined = ctx.message_text\n    ? `${ctx.message_text} [وصف الصورة: ${imageDesc}]`\n    : `[وصف الصورة: ${imageDesc}]`;\n  return {\n    json: {\n      ...ctx,\n      message_text: combined,\n      media_processed: true,\n      media_source: 'gpt4o_vision'\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      ...ctx,\n      message_text: ctx.message_text || '[صورة - تعذر التحليل]',\n      media_processed: true,\n      vision_failed: true\n    }\n  };\n}"
      },
      "id": "a0045ae4-f99d-403c-a0bb-827668e20b60",
      "name": "ANALYZE_IMAGE_VISION",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $json;\nconst cfg = $('CLIENT_CONFIG').first().json;\n\nlet reply = '';\nif (data.is_injection_attempt) {\n  reply = `أنا مساعد خدمة عملاء ${cfg.business_name}. هل تحب أساعدك في حاجة بخصوص النشاط؟`;\n} else if (data.media_rejection_msg) {\n  reply = data.media_rejection_msg;\n} else if (!(data.message_text || '').trim()) {\n  reply = 'مقدرتش أقرأ رسالتك. اكتبها تاني لو سمحت 🙏';\n} else {\n  reply = cfg.fallback_message;\n}\n\nreturn {\n  json: {\n    ...data,\n    final_reply: reply,\n    skip_ai: true,\n    skip_log: !!data.is_injection_attempt\n  }\n};\n"
      },
      "id": "3bc8d1e1-ff65-4302-8079-7505057f85e4",
      "name": "Handle Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        640
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "c06ec07f-8b3f-4301-a357-3e4751b5efa7",
      "name": "MERGE_MEDIA",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        224,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b12bc3d-66e4-46f1-9242-ccd7d0aefc8d",
              "leftValue": "={{ $json.message_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b689be9a-43b3-4989-8fa6-8062c116fbda",
      "name": "VALIDATE_MESSAGE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare customer lookup\nconst ctx = $input.first().json;\nconst cfg = $('CLIENT_CONFIG').first().json;\nreturn {\n  json: {\n    ...ctx,\n    cfg: cfg,\n    lookup_phone: ctx.sender_id\n  }\n};"
      },
      "id": "2a9ecb49-99f5-4d6c-b240-612a6d81492f",
      "name": "LOOKUP_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('FETCH_CUSTOMER_RAW').all().map(i=>i.json).filter(x=>x&&x.id);\nif(!r.length) return {json:{}};\nconst c=r[0]; const tags=Array.isArray(c.tags)?c.tags:[];\nreturn {json:{'Customer ID':c.id,'Customer Name':c.name||'','Phone/WhatsApp':c.phone,'VIP Status':tags.includes('vip')?'TRUE':'FALSE','Total Interactions':(c.metadata&&c.metadata.total_interactions)||0,'Total Orders':c.total_orders||0,'Avg Sentiment':c.sentiment||0,'Customer Tags':tags.join(','),'Conversation Summary':c.conversation_summary||'','Free Messages Used':c.free_messages_used||0,'First Contact Date':c.created_at||''}};"
      },
      "id": "ac579e02-b162-489d-9ba5-883bdf7b7a97",
      "name": "FETCH_CUSTOMER",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build customer object — new or existing\n// ============================================================\nconst ctx = $('NORMALIZE_INPUT').first().json;\nconst cfg = $('CLIENT_CONFIG').first().json;\nconst lookupResult = $input.first().json;\n\nconst existed = lookupResult && (lookupResult['Phone/WhatsApp'] || lookupResult['Customer ID']);\n\nif (existed) {\n  // Existing customer\n  return {\n    json: {\n      ...ctx,\n      customer_id: lookupResult['Customer ID'],\n      customer_name: lookupResult['Customer Name'] || ctx.push_name || 'عميل',\n      is_new: false,\n      vip: String(lookupResult['VIP Status'] || '').toUpperCase() === 'TRUE',\n      total_interactions: parseInt(lookupResult['Total Interactions'] || 0),\n      total_orders: parseInt(lookupResult['Total Orders'] || 0),\n      avg_sentiment: parseFloat(lookupResult['Avg Sentiment'] || 0),\n      tags: lookupResult['Customer Tags'] || '',\n      last_summary: lookupResult['Conversation Summary'] || '',\n      free_messages_used: parseInt(lookupResult['Free Messages Used'] || 0),\n      first_contact: lookupResult['First Contact Date'] || ''\n    }\n  };\n}\n\n// New customer — generate ID\nconst today = new Date();\nconst datePart = today.toISOString().slice(0,10).replace(/-/g,'');\nconst newId = `CUST_${datePart}_${Math.floor(Math.random() * 9000) + 1000}`;\n\nreturn {\n  json: {\n    ...ctx,\n    customer_id: newId,\n    customer_name: ctx.push_name || 'عميل',\n    is_new: true,\n    vip: false,\n    total_interactions: 0,\n    total_orders: 0,\n    avg_sentiment: 0,\n    tags: 'new_customer',\n    last_summary: '',\n    free_messages_used: 0,\n    first_contact: today.toISOString().slice(0,10),\n    needs_record_creation: true\n  }\n};"
      },
      "id": "c8ed4184-118c-4fc3-b151-a0ca97ab4006",
      "name": "BUILD_CUSTOMER",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5962840-485d-400d-810b-7d418a7e5920",
              "leftValue": "={{ $json.needs_record_creation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e64bfa6d-a8ff-4538-8d81-ab61b3ecd62a",
      "name": "Is New Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zjathejcdkpxjyvululp.supabase.co/rest/v1/customers?on_conflict=business_id,phone",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $('CLIENT_CONFIG').first().json.business_id, phone: $json.sender_id, name: $json.customer_name, channel: ($json.platform||'whatsapp'), free_messages_used: 1, tags: ['new_customer'], last_interaction_at: new Date().toISOString() }) }}"
      },
      "id": "3a3cc8c9-0f22-4406-8141-f44bb2e123ad",
      "name": "CREATE_CUSTOMER_RECORD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "90dc8a02-88df-4ebd-9a9e-713023c9f4f5",
      "name": "Merge Customer Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1792,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('BUILD_CUSTOMER').first().json;\nconst rows = $('FETCH_HISTORY_RAW').all().map(i=>i.json).filter(m=>m&&m.direction);\nif(!rows.length) return [{json:{...ctx,'Timestamp':'','Customer Message':'','AI Response':''}}];\nreturn rows.map(m=>({json:{...ctx,'Timestamp':m.created_at||'','Customer Message':m.direction==='inbound'?(m.content||''):'','AI Response':m.direction==='outbound'?(m.content||''):''}}));"
      },
      "id": "f1e607ab-fef0-40e0-a91c-d0a6d2bbd017",
      "name": "FETCH_HISTORY",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// First 10 messages are free per customer\nconst data = $input.first().json;\nconst FREE_TIER_LIMIT = 10;\nconst isFreeTier = data.free_messages_used < FREE_TIER_LIMIT;\nreturn {\n  json: {\n    ...data,\n    is_free_tier: isFreeTier,\n    free_messages_remaining: Math.max(0, FREE_TIER_LIMIT - data.free_messages_used),\n    count_toward_quota: !isFreeTier\n  }\n};"
      },
      "id": "94fd1fde-ab44-4db4-bb2e-79ef888a2737",
      "name": "CHECK_FREE_TIER",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare quota check payload (only if not free-tier)\nconst data = $input.first().json;\nconst cfg = $('CLIENT_CONFIG').first().json;\n\nif (data.is_free_tier) {\n  return { json: { ...data, quota_check_skipped: true, limit_exceeded: false } };\n}\n\nreturn {\n  json: {\n    ...data,\n    tenant: {\n      business_name: cfg.business_name,\n      order_id: cfg.order_id,\n      plan_id: cfg.plan_id,\n      plan_tier: cfg.plan_tier || 'starter'\n    },\n    estimated_input_tokens: Math.ceil((data.message_text?.length || 0) / 2),\n    estimated_output_tokens: 200,\n    model: cfg.openrouter_model || 'anthropic/claude-haiku-4.5'\n  }\n};"
      },
      "id": "e35c642b-3894-4b53-8eee-7654d7424861",
      "name": "QUOTA_PREPARE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        176
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_calculate_cost }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id, plan_id: $('CLIENT_CONFIG').first().json.plan_tier } }}",
            "model": "={{ $('CLIENT_CONFIG').first().json.openrouter_model }}",
            "input_tokens": "={{ $json.estimated_input_tokens || 100 }}",
            "output_tokens": "={{ $json.estimated_output_tokens || 200 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "49cd34f3-7bd8-4ff1-9d76-ad9f194765a0",
      "name": "CHECK_QUOTA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2688,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process quota check result\nconst data = $input.first().json;\nconst previousData = $('CHECK_FREE_TIER').first().json;\n\nif (previousData.is_free_tier) {\n  return {\n    json: {\n      ...previousData,\n      proceed_to_ai: true,\n      use_fallback_model: false\n    }\n  };\n}\n\nconst limitExceeded = data.limit_exceeded === true;\nreturn {\n  json: {\n    ...previousData,\n    proceed_to_ai: true, // Always proceed — switch to fallback if exceeded\n    use_fallback_model: limitExceeded,\n    fallback_reason: limitExceeded ? 'quota_exceeded' : null,\n    messages_remaining: data.messages_remaining\n  }\n};"
      },
      "id": "c6beb2f3-468c-414b-8e29-d0724ddb6655",
      "name": "HANDLE_QUOTA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build full context for AI Agent\n// ============================================================\nconst data = $('Merge Customer Paths').first().json;\nconst cfg = $('CLIENT_CONFIG').first().json;\nconst historyItems = $('FETCH_HISTORY').all();\n\nlet historyText = '';\nif (historyItems && historyItems.length > 0) {\n  historyText = historyItems.slice(-5).map(h => {\n    const m = h.json;\n    return `[${m['Timestamp'] || '?'}]\\nالعميل: ${(m['Customer Message'] || '').slice(0,100)}\\nأنا: ${(m['AI Response'] || '').slice(0,100)}`;\n  }).join('\\n\\n');\n}\n\n// Build customer context block\nlet customerContext = `## معلومات العميل\\n`;\ncustomerContext += `- الاسم: ${data.customer_name}\\n`;\ncustomerContext += `- ID: ${data.customer_id}\\n`;\n\nif (data.is_new) {\n  customerContext += `- 🆕 عميل جديد (أول تواصل — رحب به بحرارة)\\n`;\n} else {\n  customerContext += `- التفاعلات السابقة: ${data.total_interactions}\\n`;\n  customerContext += `- الطلبات السابقة: ${data.total_orders}\\n`;\n  if (data.vip) customerContext += `- ⭐ عميل VIP — أولوية قصوى\\n`;\n  if (data.tags) customerContext += `- التصنيفات: ${data.tags}\\n`;\n}\n\nif (data.last_summary) {\n  customerContext += `\\n## ملخص المحادثات السابقة\\n${data.last_summary}\\n`;\n}\n\nif (historyText) {\n  customerContext += `\\n## آخر 5 رسائل\\n${historyText}\\n`;\n} else if (!data.is_new) {\n  customerContext += `\\n## لا توجد محادثات حديثة\\n`;\n}\n\nreturn {\n  json: {\n    ...data,\n    customer_context: customerContext,\n    history_count: historyItems.length\n  }\n};"
      },
      "id": "22a33b56-80da-469f-9b20-5cfafb6c1111",
      "name": "BUILD_CONTEXT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PII Detection - block credit card numbers\n// ============================================================\nconst text = $('NORMALIZE_INPUT').first().json.message_text || '';\n\n// Credit card pattern (basic Luhn-friendly detection)\nconst ccPattern = /\\b(?:\\d[ -]*?){13,19}\\b/;\nconst hasCreditCard = ccPattern.test(text);\n\nif (hasCreditCard) {\n  return {\n    json: {\n      ...$json,\n      pii_detected: true,\n      pii_type: 'credit_card',\n      override_response: '⚠️ لاحظت أنك بتبعت أرقام تشبه بيانات بطاقة ائتمانية. لأمانك، **لا ترسل بيانات بطاقات هنا**. لو محتاج تدفع، هنبعتلك رابط دفع آمن. هل تحب كده؟',\n      final_reply: '⚠️ لاحظت أنك بتبعت أرقام تشبه بيانات بطاقة ائتمانية. لأمانك، **لا ترسل بيانات بطاقات هنا**. لو محتاج تدفع، هنبعتلك رابط دفع آمن. هل تحب كده؟',\n      escalated: false,\n      should_log: false,\n      block_logging: true\n    }\n  };\n}\n\nreturn { json: { ...$json, pii_detected: false } };"
      },
      "id": "c75b688d-dfc5-43a6-bafe-7b08fead4efe",
      "name": "PII_DETECTION",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52d86e4c-707b-4419-adb5-85369907ac4d",
              "leftValue": "={{ $json.pii_detected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6db5953-8cd1-4bc2-9c29-8f81467893f9",
      "name": "PII Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3584,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Lightweight sentiment analysis on user message\n// ============================================================\nconst text = ($('NORMALIZE_INPUT').first().json.message_text || '').toLowerCase();\nconst aiOutput = ($json.output || '').toLowerCase();\n\nconst negKw = [\n  'غاضب','غضبان','زعلان','متضايق','مش راضي','سيء','بطيء','مش كويس',\n  'تالف','وحش','وحشة','مقرف','مقززة','محبط','مزعج','قرف','اتكلم مع مدير',\n  'بكلم محامي','هاشتكي','مش هاتعامل','رهيب','فاشل','مخيب','ضايقني',\n  'angry','upset','terrible','horrible','awful','worst','disgusting','complaint','refund'\n];\nconst posKw = [\n  'شكرا','شكراً','ممتاز','رائع','جميل','حلو','كويس','تمام','عظيم','مبسوط','سعيد','حبيت',\n  'great','good','excellent','perfect','amazing','love','wonderful','thanks','thank'\n];\n\nlet score = 0;\nnegKw.forEach(k => { if (text.includes(k)) score -= 1; });\nposKw.forEach(k => { if (text.includes(k)) score += 1; });\nscore = Math.max(-3, Math.min(3, score));\n\nconst cfg = $('CLIENT_CONFIG').first().json;\nconst threshold = parseInt(cfg.sentiment_threshold || -2);\nconst aiWantsEscalation = aiOutput.includes('[escalate]') || aiOutput.includes('[ESCALATE]');\nconst sentimentTriggersEscalation = score <= threshold;\n\nreturn {\n  json: {\n    ...$json,\n    sentiment_score: score,\n    sentiment_label: score > 0 ? 'Positive' : score < 0 ? 'Negative' : 'Neutral',\n    ai_wants_escalation: aiWantsEscalation,\n    should_escalate: aiWantsEscalation || sentimentTriggersEscalation,\n    escalation_reason: aiWantsEscalation ? 'ai_requested' :\n                       sentimentTriggersEscalation ? 'negative_sentiment' : null\n  }\n};"
      },
      "id": "1d7b0b9b-4c4a-402b-80fd-792bc6c9f1ff",
      "name": "SENTIMENT_ANALYSIS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build final reply with all checks applied\n// ============================================================\nconst data = $input.first().json;\nconst cfg = $('CLIENT_CONFIG').first().json;\n\n// PII override has highest priority\nif (data.pii_detected) {\n  return {\n    json: {\n      ...data,\n      final_reply: data.override_response,\n      escalated: false,\n      should_log: false\n    }\n  };\n}\n\n// Escalation override\nif (data.should_escalate) {\n  return {\n    json: {\n      ...data,\n      final_reply: cfg.escalation_message || 'لحظة من فضلك، هحولك لزميل من الفريق يساعدك 🙏',\n      escalated: true,\n      should_log: true,\n      escalation_reason: data.escalation_reason\n    }\n  };\n}\n\n// Strip [ESCALATE] tag from AI output if present\nlet reply = (data.output || data.final_reply || cfg.fallback_message || 'عذراً، حصل ظرف تقني.').trim();\nreply = reply.replace(/\\[ESCALATE\\]/gi, '').trim();\n\nreturn {\n  json: {\n    ...data,\n    final_reply: reply,\n    escalated: false,\n    should_log: true\n  }\n};"
      },
      "id": "77450d2e-8830-4357-b7fd-9f4e11cbeb20",
      "name": "BUILD_FINAL_REPLY",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        320
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "ae4a7cd8-40ea-480f-9eab-c4c4dc6e7397",
      "name": "MERGE_ALL_REPLIES",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5104,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Split long replies into chunks of 50-80 words\n// Returns array of messages to send with delays\n// ============================================================\nconst data = $input.first().json;\nconst reply = data.final_reply || '';\n\n// If under 300 words, send as one message\nconst words = reply.split(/\\s+/);\nif (words.length <= 80) {\n  return [{\n    json: {\n      ...data,\n      messages_to_send: [reply],\n      total_chunks: 1,\n      typing_delay_ms: Math.min(3000, Math.max(1000, reply.length * 30))\n    }\n  }];\n}\n\n// Split into chunks by paragraphs first, then by sentence\nconst paragraphs = reply.split(/\\n\\n+/);\nconst chunks = [];\nlet currentChunk = '';\n\nfor (const para of paragraphs) {\n  const combined = currentChunk ? currentChunk + '\\n\\n' + para : para;\n  const combinedWords = combined.split(/\\s+/).length;\n  \n  if (combinedWords <= 80) {\n    currentChunk = combined;\n  } else {\n    if (currentChunk) chunks.push(currentChunk);\n    \n    // If single paragraph is too long, split by sentences\n    if (para.split(/\\s+/).length > 80) {\n      const sentences = para.split(/(?<=[.!?؟])\\s+/);\n      let sentChunk = '';\n      for (const sent of sentences) {\n        if ((sentChunk + ' ' + sent).split(/\\s+/).length <= 80) {\n          sentChunk = sentChunk ? sentChunk + ' ' + sent : sent;\n        } else {\n          if (sentChunk) chunks.push(sentChunk);\n          sentChunk = sent;\n        }\n      }\n      currentChunk = sentChunk;\n    } else {\n      currentChunk = para;\n    }\n  }\n}\nif (currentChunk) chunks.push(currentChunk);\n\nreturn [{\n  json: {\n    ...data,\n    messages_to_send: chunks,\n    total_chunks: chunks.length,\n    typing_delay_ms: 2000\n  }\n}];"
      },
      "id": "af7cd12c-bc89-4d36-8b93-87de8c795e04",
      "name": "SPLIT_LONG_REPLY",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Iterate over message chunks and send them one by one\n// With typing indicator + random delay between messages\n// ============================================================\nconst data = $input.first().json;\nconst messages = data.messages_to_send || [data.final_reply];\nconst cfg = $('CLIENT_CONFIG').first().json;\n\n// Return one item per message — n8n will loop the send nodes\nreturn messages.map((msg, idx) => ({\n  json: {\n    ...data,\n    message_chunk: msg,\n    chunk_index: idx,\n    total_chunks: messages.length,\n    is_first: idx === 0,\n    is_last: idx === messages.length - 1,\n    delay_before_ms: idx === 0 ? 0 : Math.floor(Math.random() * 1500) + 1000,\n    typing_duration_ms: Math.min(3000, Math.max(1500, msg.length * 25))\n  }\n}));"
      },
      "id": "5e529b04-2ee1-410f-9003-f47bd5a244b7",
      "name": "LOOP_MESSAGES",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5552,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_send_presence }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instance_name": "={{ $('CLIENT_CONFIG').first().json.instance_name }}",
            "remote_jid": "={{ $('NORMALIZE_INPUT').first().json.remote_jid }}",
            "delay_ms": "={{ 1500 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "3dc8f756-b831-435c-b67b-1dfe0a08c054",
      "name": "Typing Before Chunk",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5776,
        288
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('WEBHOOK_TRIGGER').item.json.body.instance }}",
        "remoteJid": "={{ $('NORMALIZE_INPUT').first().json.remote_jid }}",
        "messageText": "={{ $('LOOP_MESSAGES').first().json.message_chunk }}",
        "options_message": {}
      },
      "id": "2e6dabee-00cf-428e-b659-521164cf1bb1",
      "name": "SEND_MESSAGE_CHUNK",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        6000,
        288
      ],
      "credentials": {
        "evolutionApi": {
          "id": "2MxBhVWARkVSE5fQ",
          "name": "Evolution account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "1ca62fc0-f4e1-47b4-9514-f4a54bce0792",
      "name": "AGGREGATE",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6224,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_log_conversation }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id } }}",
            "customer": "={{ { phone: $('NORMALIZE_INPUT').first().json.sender_id, name: $('BUILD_CUSTOMER').first().json.customer_name } }}",
            "customer_message": "={{ $('NORMALIZE_INPUT').first().json.message_text }}",
            "ai_response": "={{ $('BUILD_FINAL_REPLY').first().json.final_reply }}",
            "intent": "general",
            "sentiment_score": "={{ $('SENTIMENT_ANALYSIS').first().json.sentiment_score || 0 }}",
            "escalated": "={{ $('BUILD_FINAL_REPLY').first().json.escalated || false }}",
            "input_tokens": "={{ $('QUOTA_PREPARE').first().json.estimated_input_tokens || 0 }}",
            "output_tokens": "={{ $('QUOTA_PREPARE').first().json.estimated_output_tokens || 0 }}",
            "cost_egp": "={{ ($('CHECK_QUOTA').first().json.cost_egp) || 0 }}",
            "model": "={{ $('CLIENT_CONFIG').first().json.openrouter_model }}",
            "wa_message_id": "={{ $('NORMALIZE_INPUT').first().json.wa_message_id || '' }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "42530634-88ed-419c-a69e-01017ee34cbe",
      "name": "LOG_CONVERSATION",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6448,
        96
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://zjathejcdkpxjyvululp.supabase.co/rest/v1/customers?id=eq.{{ $('BUILD_CUSTOMER').first().json.customer_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_interaction_at: new Date().toISOString(), free_messages_used: ($('CHECK_FREE_TIER').first().json.free_messages_used || 0) + 1 }) }}"
      },
      "id": "da45c50f-ce13-447b-a237-34276cf4a392",
      "name": "UPDATE_CUSTOMER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6448,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d34e8f52-43e0-4274-9f2c-28c673c0eb14",
              "leftValue": "={{ (($('BUILD_CUSTOMER').first().json.total_interactions || 0) + 1) % 20 === 0 && (($('BUILD_CUSTOMER').first().json.total_interactions || 0) + 1) > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b30f9097-07de-4759-b83c-33a7e2108e47",
      "name": "Should Summarize?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6448,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_summarize }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id } }}",
            "customer": "={{ { phone: $('NORMALIZE_INPUT').first().json.sender_id } }}",
            "fetch_limit": "={{ 20 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "d95594c6-9031-41a1-bf86-b2457d066991",
      "name": "Trigger Summarize",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6672,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7fa9863d-c55d-4343-be50-1049ed2208a3",
              "leftValue": "={{ (($('BUILD_CUSTOMER').first().json.total_interactions || 0) + 1) % 10 === 0 && (($('BUILD_CUSTOMER').first().json.total_interactions || 0) + 1) > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "489751cd-89a2-4695-b59e-df1b51bbbefc",
      "name": "Should Auto-Tag?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6448,
        672
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_auto_tag }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id } }}",
            "customer": "={{ { phone: $('NORMALIZE_INPUT').first().json.sender_id } }}",
            "history_limit": "={{ 100 }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "56cf3082-ee45-470c-b989-988001f14dd2",
      "name": "Trigger Auto-Tag",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6672,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eab641bf-aaed-4c3b-8189-2e14a191f87d",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "0a2c3e95-39cc-4dd1-b99a-4fbba09c7947",
              "leftValue": "={{ $json.body.data.key.addressingMode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        576
      ],
      "id": "b4f7478d-766c-4a9f-8250-dbcfcbd85c28",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('NORMALIZE_INPUT').first().json.message_text }}",
        "options": {
          "systemMessage": "=# Arq — مساعد {{ $('CLIENT_CONFIG').first().json.business_name }} (خطة Starter)\n\nأنت Arq، مساعد خدمة العملاء لـ {{ $('CLIENT_CONFIG').first().json.business_name }}.\n\nمهمتك:\n* الرد على الاستفسارات بإيجاز.\n* تحويل أي حاجة معقدة لموظف بشري.\n* تسجيل الاستفسارات اللي مش لاقي ليها إجابة.\n\n---\n\n# Hard Rules\n\n## الهوية\nلو العميل سأل \"إنت بوت/AI/بني آدم؟\" — رد:\n\"أنا خدمة عملاء {{ $('CLIENT_CONFIG').first().json.business_name }}، تحب أساعدك في إيه؟\"\n\n## ممنوعات\n* ممنوع السياسة، الدين، المحتوى غير الأخلاقي، مقارنة المنافسين.\n* ممنوع كشف معلومات داخلية أو طلب بيانات بطاقات.\n* ممنوع اختراع معلومات. لو مش متأكد: \"هتأكدلك من الإدارة.\"\n\n## الأسلوب\n* اللغة: {{ $('CLIENT_CONFIG').first().json.language }}\n* ودود، مختصر، لا تتجاوز 4 أسطر إلا للضرورة.\n* لا تكرر الترحيب. لا تذكر أسماء أدوات داخلية.\n\n---\n\n# بيانات العميل\n{{ $('BUILD_CONTEXT').first().json.customer_context }}\n\n---\n\n# التعليمات المخصصة\n{{ $('CLIENT_CONFIG').first().json.system_prompt }}\n\n---\n\n# ساعات العمل\n{{ $('CLIENT_CONFIG').first().json.working_hours }}\n\nخارج ساعات العمل: \"تم تسجيل رسالتك 👍 وقد يتأخر الرد بسبب مواعيد العمل.\"\n\n---\n\n# الأدوات المتاحة (Starter — 2 tools)\n\n## Tool: save_transaction\nلما العميل يأكد طلب/حجز كامل البيانات. transaction_type: order | booking | service_request | purchase.\nقبل الحفظ تأكد من: المنتج/الخدمة، الكمية، العنوان، طريقة الدفع.\nبعد التنفيذ بلغ العميل بالنتيجة. لا تدّعي الحفظ بدون استخدام الأداة.\n\n## Tool: log_inquiry\nاستخدمه لما:\n* العميل بيسأل عن حاجة مش موجودة في المعرفة.\n* فيه ملاحظة أو شكوى للإدارة.\nبعد التنفيذ: \"تم تسجيل استفسارك وسيتم مراجعته.\"\n\n## Tool: escalate\nاستخدمه لما:\n* العميل بيطلب موظف بشري.\n* فيه شكوى/مشكلة مالية/حالة معقدة/عميل غاضب.\n* العميل بيطلب: حجز، أوردر، تعديل طلب، تتبع شحنة، كوبون، أو أي طلب تنفيذي.\n* أي طلب يحتاج إجراء — مش متاح في الـ Starter plan.\nبعد التنفيذ اكتب [ESCALATE] ثم:\n\"تم تحويل طلبك لأحد المختصين وسيتواصل معك قريباً.\"\n\n---\n\n## Tool: get_menu (جديد ✨)\nاستخدمها لما العميل:\n* يسأل عن سعر منتج أو خدمة.\n* يطلب يشوف القائمة/المنيو/الكتالوج.\n* يسأل \"إيه عندكم؟\" أو \"إيه المتاح؟\".\n* يستفسر عن صنف معين بالاسم.\n\n**قاعدة مهمة:** ممنوع تذكر أسعار من الذاكرة. الأسعار بتتغير — جيبها من get_menu دايماً.\nبعد الاستدعاء، اعرض على العميل الـ items المتاحة بشكل منظم.\n\n---\n\n## 🚨 قاعدة صارمة قبل save_transaction\n\nممنوع تستدعي save_transaction قبل ما تتأكد من:\n\n1. الأصناف (items) — لكل صنف: الاسم + الكمية + السعر (من get_menu)\n2. العنوان (لو order) أو المكان (لو حجز)\n3. طريقة الدفع (cash / online / transfer)\n\nممنوع تبعت items فاضي ([]). \nلو العميل قال \"اعمل أوردر\" من غير تفاصيل → اسأله: \"حابب تطلب إيه؟ أنا هجيب القائمة دلوقتي\" → ثم get_menu → ثم اجمع التفاصيل → ثم save_transaction.\n\n---\n\n# قواعد مهمة\n\n1. لا تدّعي تنفيذ أي إجراء — في Starter بنرد بـ معلومات بس، أي عملية تنفيذية → escalate.\n2. اعتمد على قاعدة المعرفة أولاً. مش لاقي → log_inquiry.\n3. لو محتاج تدخل بشري → escalate.\n4. ممنوع تذكر \"تم الحجز/الطلب/الإلغاء\" — احنا مش بنحفظ transactions في Starter.\n\nملاحظة: خطة Starter بتدعم الرسائل النصية فقط. مش بتدعم صور، صوت، أو موقع.\n",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4064,
        320
      ],
      "id": "5c815678-36d8-4f51-8341-5fe2ecf4e5fe",
      "name": "AI_AGENT",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": "={{ $('CLIENT_CONFIG').first().json.max_tokens }}",
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3808,
        544
      ],
      "id": "ef73440f-88c3-4d72-aa86-c197eefa8cc7",
      "name": "Primary Model",
      "credentials": {
        "openRouterApi": {
          "id": "yC4Jdq6Lp6CNrWnU",
          "name": "My OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('BUILD_CUSTOMER').first().json.customer_id }}_{{ $('CLIENT_CONFIG').first().json.order_id }}",
        "contextWindowLength": "={{ $('CLIENT_CONFIG').first().json.memory_window }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3936,
        544
      ],
      "id": "8d5b4847-8bfe-46c9-8c21-307d97422283",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "description": "سجل أي استفسار مهم من العميل عشان الإدارة تتابعه. استخدمه لما العميل يسأل عن حاجة مش موجودة في المعرفة.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_log_conversation }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id } }}",
            "customer": "={{ { phone: $('NORMALIZE_INPUT').first().json.sender_id, name: $('BUILD_CUSTOMER').first().json.customer_name } }}",
            "customer_message": "={{ $fromAI('message','رسالة العميل','string') }}",
            "ai_response": "={{ $fromAI('response','رد البوت','string') }}",
            "intent": "={{ $fromAI('intent','تصنيف نية العميل','string') }}",
            "sentiment_score": "={{ 0 }}",
            "escalated": "={{ false }}",
            "input_tokens": "={{ 0 }}",
            "output_tokens": "={{ 0 }}",
            "cost_egp": "={{ 0 }}",
            "model": "={{ $('CLIENT_CONFIG').first().json.openrouter_model }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4064,
        544
      ],
      "id": "badf73b0-ddf4-42f5-90a5-1fbe52ad6de8",
      "name": "Tool: log_inquiry"
    },
    {
      "parameters": {
        "description": "حول العميل لموظف بشري. استخدمه لما العميل يطلب صراحة، أو لما القضية معقدة، أو لما تكون شكوى.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_escalation }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id, instance_name: $('CLIENT_CONFIG').first().json.instance_name, admin_whatsapp: $('CLIENT_CONFIG').first().json.admin_whatsapp, business_name: $('CLIENT_CONFIG').first().json.business_name } }}",
            "customer": "={{ { phone: $('NORMALIZE_INPUT').first().json.sender_id, name: $('BUILD_CUSTOMER').first().json.customer_name } }}",
            "reason": "={{ $fromAI('reason','سبب التصعيد: complaint/customer_request/out_of_scope','string') }}",
            "customer_message": "={{ $('NORMALIZE_INPUT').first().json.message_text }}",
            "context_summary": "={{ $fromAI('context_summary','ملخص قصير للموقف','string') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4192,
        544
      ],
      "id": "dac5557d-7388-4a00-835d-bf56ef3d16b6",
      "name": "Tool: escalate"
    },
    {
      "parameters": {
        "toolDescription": "اجلب القائمة الكاملة من المنتجات والخدمات المتاحة من جدول Menu_Data — الأسعار والأصناف والتوفر. **استخدمها كل مرة العميل يسأل عن: السعر، المنتجات، صنف معين، التوفر، أو يطلب يشوف القائمة.** لا تعتمد على الذاكرة في الأسعار — جيبها من هنا دايماً عشان الأسعار بتتحدث.",
        "method": "GET",
        "url": "=https://zjathejcdkpxjyvululp.supabase.co/rest/v1/products?select=name,price_egp,description,category&business_id=eq.{{ $('CLIENT_CONFIG').first().json.business_id }}&available=eq.true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "9a4dad07-3720-4196-b8fd-1cf2de84b0bf",
      "name": "Tool: get_menu",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4320,
        544
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      }
    },
    {
      "parameters": {
        "description": "احفظ أوردر/حجز/طلب خدمة بعد ما تجمع كل البيانات من العميل وتأكدها. استخدم transaction_type: order|booking|service_request|purchase",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('CLIENT_CONFIG').first().json.wf_save_transaction }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant": "={{ { business_id: $('CLIENT_CONFIG').first().json.business_id, instance_name: $('CLIENT_CONFIG').first().json.instance_name, admin_whatsapp: $('CLIENT_CONFIG').first().json.admin_whatsapp, tax_pct: $('CLIENT_CONFIG').first().json.tax_pct } }}",
            "customer": "={{ { phone: $('NORMALIZE_INPUT').first().json.sender_id, name: $('BUILD_CUSTOMER').first().json.customer_name } }}",
            "type": "={{ $fromAI('type','نوع الطلب: order/booking/pickup','string') }}",
            "items": "={{ $fromAI('items','مصفوفة الأصناف [{name,qty,price}]','json') }}",
            "delivery_fee": "={{ $fromAI('delivery_fee','رسوم التوصيل','number') }}",
            "payment_method": "={{ $fromAI('payment_method','طريقة الدفع','string') }}",
            "delivery_address": "={{ $fromAI('delivery_address','عنوان التوصيل','string') }}",
            "notes": "={{ $fromAI('notes','ملاحظات','string') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4448,
        544
      ],
      "id": "57e56f0a-4143-4089-8093-4e676984a2ee",
      "name": "Tool: save_transaction"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zjathejcdkpxjyvululp.supabase.co/rest/v1/customers?select=*&business_id=eq.{{ $('CLIENT_CONFIG').first().json.business_id }}&phone=eq.{{ $json.lookup_phone }}&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "d262d01f-eaca-42e2-8c0b-603d4649a4db",
      "name": "FETCH_CUSTOMER_RAW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        746,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://zjathejcdkpxjyvululp.supabase.co/rest/v1/messages?select=direction,content,created_at&business_id=eq.{{ $('CLIENT_CONFIG').first().json.business_id }}&customer_id=eq.{{ $('BUILD_CUSTOMER').first().json.customer_id }}&order=created_at.desc&limit=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "22957934-e7f6-4078-b6d6-bfcb6e22dc81",
      "name": "FETCH_HISTORY_RAW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1866,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "arqflow_supabase",
          "name": "Supabase service_role"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "WEBHOOK_TRIGGER": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENT_CONFIG": {
      "main": [
        [
          {
            "node": "NORMALIZE_INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMALIZE_INPUT": {
      "main": [
        [
          {
            "node": "ANTI_INJECTION_GUARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANTI_INJECTION_GUARD": {
      "main": [
        [
          {
            "node": "ROUTE_MEDIA_TYPE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROUTE_MEDIA_TYPE": {
      "main": [
        [
          {
            "node": "TRANSCRIBE_PREPARE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANALYZE_IMAGE_VISION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MERGE_MEDIA",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Handle Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE_PREPARE": {
      "main": [
        [
          {
            "node": "WHISPER_TRANSCRIBE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHISPER_TRANSCRIBE": {
      "main": [
        [
          {
            "node": "EXTRACT_TRANSCRIPTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT_TRANSCRIPTION": {
      "main": [
        [
          {
            "node": "MERGE_MEDIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALYZE_IMAGE_VISION": {
      "main": [
        [
          {
            "node": "MERGE_MEDIA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Handle Rejection": {
      "main": [
        [
          {
            "node": "MERGE_ALL_REPLIES",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "MERGE_MEDIA": {
      "main": [
        [
          {
            "node": "VALIDATE_MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALIDATE_MESSAGE": {
      "main": [
        [
          {
            "node": "LOOKUP_PREPARE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Typing Presence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOOKUP_PREPARE": {
      "main": [
        [
          {
            "node": "FETCH_CUSTOMER_RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_CUSTOMER": {
      "main": [
        [
          {
            "node": "BUILD_CUSTOMER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_CUSTOMER": {
      "main": [
        [
          {
            "node": "Is New Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Customer?": {
      "main": [
        [
          {
            "node": "CREATE_CUSTOMER_RECORD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Customer Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CREATE_CUSTOMER_RECORD": {
      "main": [
        [
          {
            "node": "Merge Customer Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Customer Paths": {
      "main": [
        [
          {
            "node": "FETCH_HISTORY_RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_HISTORY": {
      "main": [
        [
          {
            "node": "CHECK_FREE_TIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK_FREE_TIER": {
      "main": [
        [
          {
            "node": "QUOTA_PREPARE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QUOTA_PREPARE": {
      "main": [
        [
          {
            "node": "CHECK_QUOTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK_QUOTA": {
      "main": [
        [
          {
            "node": "HANDLE_QUOTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HANDLE_QUOTA": {
      "main": [
        [
          {
            "node": "BUILD_CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_CONTEXT": {
      "main": [
        [
          {
            "node": "PII_DETECTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII_DETECTION": {
      "main": [
        [
          {
            "node": "PII Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Detected?": {
      "main": [
        [
          {
            "node": "MERGE_ALL_REPLIES",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI_AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SENTIMENT_ANALYSIS": {
      "main": [
        [
          {
            "node": "BUILD_FINAL_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_FINAL_REPLY": {
      "main": [
        [
          {
            "node": "MERGE_ALL_REPLIES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_ALL_REPLIES": {
      "main": [
        [
          {
            "node": "SPLIT_LONG_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SPLIT_LONG_REPLY": {
      "main": [
        [
          {
            "node": "LOOP_MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOOP_MESSAGES": {
      "main": [
        [
          {
            "node": "Typing Before Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Before Chunk": {
      "main": [
        [
          {
            "node": "SEND_MESSAGE_CHUNK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND_MESSAGE_CHUNK": {
      "main": [
        [
          {
            "node": "AGGREGATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE": {
      "main": [
        [
          {
            "node": "LOG_CONVERSATION",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPDATE_CUSTOMER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Summarize?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Auto-Tag?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Summarize?": {
      "main": [
        [
          {
            "node": "Trigger Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Auto-Tag?": {
      "main": [
        [
          {
            "node": "Trigger Auto-Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: log_inquiry": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: escalate": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: get_menu": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: save_transaction": {
      "ai_tool": [
        [
          {
            "node": "AI_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI_AGENT": {
      "main": [
        [
          {
            "node": "SENTIMENT_ANALYSIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CLIENT_CONFIG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Outgoing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_CUSTOMER_RAW": {
      "main": [
        [
          {
            "node": "FETCH_CUSTOMER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FETCH_HISTORY_RAW": {
      "main": [
        [
          {
            "node": "FETCH_HISTORY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}